@using Retaline.Core.BusinessModel.Catalog;
@using Retaline.Core.BusinessModel.Home;
@using Retaline.Core.BusinessModel.UserDetails;

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor _httpContextAccessor;
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration;
@inject SaasKit.Multitenancy.ITenant<Retaline.Core.ViewModel.Tenant.AppTenant> tenant;
@inject Retaline.Core.Services.Authentication.ICustomAuthenticationService customAuthService;
@inject Retaline.Core.Services.HelperServices.IHttpHelperService HttpHelper

@model List<Product>;
@{
    int topProductsCount = 0;
    double? lowestPrice = 0;
    double? highestPrice = 0;
    int storegroupid = 0; try { storegroupid = (tenant?.Value == null || String.IsNullOrEmpty(tenant?.Value.StoreId) ? 0 : Convert.ToInt32(tenant?.Value.StoreId)); } catch { storegroupid = 0; }
    string addButtonBehaviour = "add-to-cart"; // !User.Identity.IsAuthenticated ? "open-login-modal" : "add-to-cart";
    List<Product> groupedItems = new List<Product>();
    List<KeyValuePair<int, int>> variantGroup = new List<KeyValuePair<int, int>>();

    int totalItems = 0; //try { totalItems = Model.Sum(c => c.ItemMaster.Count); } catch { totalItems = 0; }
    try
    {
        totalItems = Model.Where(g => g.IsGroupItem != 1).Count() + Model.Where(g => g.IsGroupItem == 1).GroupBy(n => n.GroupId).Sum(n => n.Count());
    }
    catch { }

    var curUser = customAuthService.GetUserFromClaims();
    try
    {
        curUser = customAuthService.GetUserFromClaims();

        if (curUser == null)
        {
            curUser = new Retaline.Core.BusinessModel.UserDetails.User();
        }
    }
    catch
    {
        curUser = new Retaline.Core.BusinessModel.UserDetails.User();
    }
    GuestData guestUser = HttpHelper.GuestUser;
}


@foreach (Product item in Model)
{
    //var items = item.ItemMaster.Where(m => (i == 0 && m.StockAvailable > 0) || (i == 1 && m.StockAvailable <= 0)).ToList();
    if (item.IsGroupItem == 1)
    {

        if (groupedItems.Any(g => g.GroupId == item.GroupId))
            continue;

        var mgroupitems = Model.Where(gi => gi.GroupId == item.GroupId).Select(g => { g.IsGroupItem = 1; return g; }).ToList();
        groupedItems.AddRange(mgroupitems.Select(g => { g.IsGroupItem = 1; return g; }).ToList());
        //items = new List<ItemMaster> { new ItemMaster { ItemName = item.GroupDisplayName, MainImage = new List<MainImage> { new MainImage { ImageUrl = item.GroupImage } } } };
    }
    @if (true)
    {
        if (topProductsCount >= 12)
            break;

        if (item.VariantGroupId > 0)
        {
            if (variantGroup.Any(k => k.Key == item.VariantGroupId && k.Value == item.StoreGroupId))
            {
                continue;
            }
            else
            {
                variantGroup.Add(new KeyValuePair<int, int>(item.VariantGroupId.Value, item.StoreGroupId));
            }
        }


        topProductsCount++;
        string strHref = (item.IsGroupItem > 0 ?
                String.Format("/groupitem/{0}/{1}", item.GroupId, item.GroupDisplayName.Replace("\"", "").Replace("\\", ""))
            : String.Format("/pd/{0}/{1}/{2}/{3}", item.StitId, item.BranchId, item.BranchTypeId, (String.IsNullOrEmpty(item.SKU) ? "-" : Retaline.Web.Service.Common.EncodeUrl(item.SKU)))
            );
        bool isOutOfStock = (item.StockAvailable > 0 && (item.SellingPrice <= 0 || item.StockAvailable <= 0));
        bool isSoldOut = (item.StockAvailable <= 0 && item.SellingPrice > 0);
        bool isNotDeliverable = (item.BranchTypeId <= 0 && guestUser.GuestLatitude != null);

        var requiresAgeVerification = item.HasAgeVerification == 1;
        var isUserVerified = curUser?.AgeVerified == 1;
        var verificationNeeded = (!isUserVerified && requiresAgeVerification ? 1 : 0);

        <div class="product-card  @(item.IsGroupItem == 1 || item.VariantGroupId > 0 ?"product_group": (isSoldOut ? "product_soldout" : (isOutOfStock ? "product_outofstock" : (isNotDeliverable ? "product_not_deliverable" : ""))))">
            <div class="product-card_thumb">
                <a href="@strHref">
                    <img src="@(item.MainImage != null && item.MainImage.Length > 0 ? item.MainImage[0].ImageUrl : "/images/p-no-image.png")" alt="" onerror="this.src='/images/p-no-image.png'" class=" img-fluid" alt="">
                </a>
                @if (item.IsGroupItem != 1)
                {
                    <div class="product-label @(item.Percentage <= 0 ?"hide" : "")">
                        <span>@(item.Percentage <= 0 ? "" : item.Percentage + "% off ")</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="62" height="34" viewBox="0 0 62 34" fill="none">
                            <g clip-path="url(#clip0_2877_23021)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M62 0H0V34H2.19666C2.28388 33.0661 3.02187 32.2943 3.99018 32.198C5.08932 32.0887 6.06899 32.8911 6.17834 33.9902L6.17929 34H8.19666C8.28388 33.0661 9.02187 32.2943 9.99018 32.198C11.0893 32.0887 12.069 32.8911 12.1783 33.9902L12.1793 34H14.1967C14.2839 33.0661 15.0219 32.2943 15.9902 32.198C17.0893 32.0887 18.069 32.8911 18.1783 33.9902L18.1793 34H20.1967C20.2839 33.0661 21.0219 32.2943 21.9902 32.198C23.0893 32.0887 24.069 32.8911 24.1783 33.9902L24.1793 34H26.1967C26.2839 33.0661 27.0219 32.2943 27.9902 32.198C29.0893 32.0887 30.069 32.8911 30.1783 33.9902L30.1793 34H32.1967C32.2839 33.0661 33.0219 32.2943 33.9902 32.198C35.0893 32.0887 36.069 32.8911 36.1783 33.9902L36.1793 34H38.1967C38.2839 33.0661 39.0219 32.2943 39.9902 32.198C41.0893 32.0887 42.069 32.8911 42.1783 33.9902L42.1793 34H44.1967C44.2839 33.0661 45.0219 32.2943 45.9902 32.198C47.0893 32.0887 48.069 32.8911 48.1783 33.9902L48.1793 34H50.1967C50.2839 33.0661 51.0219 32.2943 51.9902 32.198C53.0893 32.0887 54.069 32.8911 54.1783 33.9902L54.1793 34H56.1967C56.2839 33.0661 57.0219 32.2943 57.9902 32.198C59.0893 32.0887 60.069 32.8911 60.1783 33.9902L60.1793 34H62V0Z"
                                      fill="#027F51" />
                            </g>
                            <defs>
                                <clipPath id="clip0_2877_23021">
                                    <rect width="62" height="34" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="action-icon">
                        <a href="javascript:void(0)" title="Add to Wishlist" class="label_wishlist wishlist-block wishlist-@item.StitId-@item.StitFsiUId" data-isAuthenticated="@User.Identity.IsAuthenticated" data-productid="@item.StitId" data-groupid="@item.StitFsiUId" data-productid="@item.StitId" data-groupid="@item.StitFsiUId" data-branchid=@item.BranchId data-branchtypeid=@item.BranchTypeId data-source="1">
                            <i class="fa-solid fa-heart" aria-hidden="true"></i>
                        </a>
                    </div>
                }


            </div>
            <div class="product-card_info">
                @if (item.SellingPrice > 0)
                {
                    <span class="label_delivery_mode @(item.IsCourier == 1 ? "courierdelivery" : "expressdelivery") " title="@(item.IsCourier == 1 ? "Courier Delivery" : "Express Delivery")">
                        <i class="@(
                            item.BranchTypeId == 0
                            ? "fa fa-exclamation-triangle"
                            : (item.IsCourier == 1
                            ? "fa-regular fa-truck"
                            : "fa-regular fa-moped")
                            )" aria-hidden="true"></i>
                        @(
                            item.BranchTypeId == 0
                            ? "Not Deliverable"
                            : (item.IsCourier == 1
                            ? "Courier Delivery"
                            : "Express Delivery")
                            )
                    </span>
                }
                else if (isNotDeliverable)
                {
                    <span class="label_delivery_mode" title="Not Deliverable">
                           <i class="fa fa-exclamation-triangle"></i>
                        Not Deliverable
                    </span>
                }


                <h4>
                    @if (item.IsGroupItem == 1 && !String.IsNullOrEmpty(item.GroupDisplayName))
                    {
                        <a href="@strHref">@item.GroupDisplayName</a>
                    }
                    else if (!String.IsNullOrEmpty(item.SKU))
                    {
                        <a href="@strHref">@item.SKU</a>
                    }
                    else
                    {
                        <a href="@strHref">
                            @((!String.IsNullOrEmpty(item.SKU) && item.SKU.Contains(item.Variant ?? "") && item.SKU.EndsWith(item.Quantity ?? "")) ? item.SKU : String.Format("{0} {1} {2}", item.SKU ?? item.SKU, item.PackageName ?? item.Variant, ((item.SKU ?? "").EndsWith(item.Quantity ?? "") ? "" : item.Quantity)))
                        </a>
                    }
                </h4>
                <span class="prod_quty">
                    @(item?.Quantity?.ToString() ?? "") 
                </span>

                <div class="product_btn_group">
                    <div class="product-price_wrap">
                        @if (item.SellingPrice <= 0)
                        {
                            <span class="product-price_info">Price Not Available</span>
                        }
                        else
                        {
                            @if (item.Percentage > 0)
                            {
                                @if (item.MRP > 0 && item.MRP > item.SellingPrice)
                                {
                                    <del class="product-price_regular">
                                        @(_configuration["CurrencySymbol"])@item.MRP
                                    </del>
                                }
                                else
                                {

                                    <span class="product-price_regular">
                                        @(_configuration["CurrencySymbol"])@item.MRP
                                    </span>

                                }
                            }
                            <span class="product-price_discount">@(_configuration["CurrencySymbol"])@item.SellingPrice</span>

                           

                        }

                    </div>
                    @if (item.IsGroupItem > 0)
                    {
                        <div class="product-action addunit_infowrap">
                            <a href="@strHref" class="btn viewgroup_btn">View</a>
                        </div>

                    }
                    @if (item.VariantGroupId > 0 && item.IsGroupItem != 1)
                    {
                        <div class="product-action addunit_infowrap">

                            <div class="form-qty-block">
                                <a href="@strHref" class="btn-plus btn-add skip-addcart">
                                    <span>View</span>
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>

                    }
                    else if (item.IsGroupItem != 1)
                    {
                        if (item.BranchTypeId > 0 && item.StockAvailable > 0 && item.SellingPrice > 0)
                        {
                            <div class="product-action addunit_infowrap">

                                <div class="form-qty-block addunitWrap form-qty-full" data-productid="@item.StitId" data-groupid="@item.StitFsiUId">
                                    <button type="button" id="product-minus-@item.StitId-@item.StitFsiUId" class="btn btn-sm btn-minus hide product-tile-minus-@item.StitId-@item.StitFsiUId" data-productid="@item.StitId" data-groupid="@item.StitFsiUId">-</button>
                                    <input type="number" class="form-control form-control-sm form-qty hide product-tile-qty-@item.StitId-@item.StitFsiUId" step="1" min="0" max="@item.StockAvailable" value="0" id="product-qty-@item.StitId-@item.StitFsiUId" placeholder="Add">
                                    @if (!User.Identity.IsAuthenticated && guestUser != null && guestUser.GuestLatitude == null && item.BranchTypeId == 3)
                                    {
                                        @if (item.IsCourier == 1)
                                        {
                                            <button type="button" id="product-plus-@item.StitId-@item.StitFsiUId" class="btn btn-sm btn-plus btn-add product-tile-plus-@item.StitId-@item.StitFsiUId" data-productid="@item.StitId" data-groupid="@item.StitFsiUId" data-brid="@item.BranchId" data-brtypeid="@item.BranchTypeId" data-needageverification="@verificationNeeded"><span>Add</span>+</button>
                                        }
                                        else

                                        {
                                            <button type="button" class="btn btn-sm btn-plus-no-action btn-add product-tile-plus-@item.StitId-@item.StitFsiUId" data-bs-toggle="modal" data-bs-target="#search-address-modal"><span>Add</span>+</button>

                                        }

                                    }
                                    else
                                    {
                                        <button type="button" id="product-plus-@item.StitId-@item.StitFsiUId" class="btn btn-sm btn-plus btn-add product-tile-plus-@item.StitId-@item.StitFsiUId" data-productid="@item.StitId" data-groupid="@item.StitFsiUId" data-brid="@item.BranchId" data-brtypeid="@item.BranchTypeId" data-needageverification="@verificationNeeded"><span>Add</span>+</button>

                                    }
                                </div>
                            </div>
                        }
                        else
                        {

                                @if (isSoldOut || isOutOfStock)
                                {
                                    <div class="product-action addunit_infowrap">

                                        <div class="form-qty-block wishlist-notify-@item.StitId-@item.StitFsiUId" data-productid="@item.StitId" data-groupid="@item.StitFsiUId" data-productid="@item.StitId" data-groupid="@item.StitFsiUId" data-branchid=@item.BranchId data-branchtypeid=@item.BranchTypeId data-source="2">
                                            <a href="" class="btn-plus btn-add skip-addcart">
                                                <i class="fa-light fa-bell"></i>
                                                <span>Notify</span>
                                            </a>
                                        </div>
                                    </div>
                                }
                        }
                    }

                </div>
            </div>
        </div>

        <!--product-card-->
    }
}



