@using Retaline.Core.BusinessModel.Store;
@using Retaline.Core.BusinessModel.Catalog;
@inject Retaline.Core.Services.Authentication.ICustomAuthenticationService customAuthService;
@inject Retaline.Core.Services.Catalog.ICatalogService catalogService;
@inject SaasKit.Multitenancy.ITenant<Retaline.Core.ViewModel.Tenant.AppTenant> tenant;
@model List<StoreGroup>
@{
    List<BusinessType> businessTypes = new();
    int storesCount = 0;
    int actualStoreCount = 0;


    actualStoreCount = (Model != null ? Model.Count : 0);
    storesCount = actualStoreCount > 8 ? 8 : actualStoreCount;

}
<div class="section-grz_preffered-store">
    <div class="container">
        <div class="row row_mb">
            <div class="col-12">
                <div class="titlewrap">
                    <h2>Popular stores</h2>
                </div>
                <div class="multistore-list popular-stores">
                    @for (int i = 0; i < storesCount; i++)
                    {
                        <a href="/st/@Model[i].Id/@Model[i].Name" class="multistore-card">
                            <div class="multistore__img" style="background-image: url(@Model[i].Logo??/images/storeimage.png);"></div>
                            <span class="highlight_store">
                                <svg xmlns="http://www.w3.org/2000/svg" width="52" height="43" viewBox="0 0 52 43" fill="none">
                                    <path opacity="0.78" d="M52 0H7C3.13401 0 0 3.13401 0 7V43C0 43 0 33 10.5 33C21 33 21 33 21 33H32C37.5228 33 42 28.5228 42 23V16.5C42 16.5 42 16.5 42 8.25C42 0 52 0 52 0Z" fill="#FFC085" />
                                </svg>
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <div class="multistore-card__info">
                                <div class="multistore__logo">
                                    <h6>@Model[i].Name</h6>
                                </div>
                                @* <p class="multistore__awayfrom">Delivery in 20 mins</p> *@
                                @{
                                    var types = @Model[i].BusinessType.Split(','); // split the categories
                                    var shown = types.Take(3); // first 3
                                    var remainingCount = types.Length - 3; // rest count
                                }

                                <p title="@Model[i].BusinessType">
                                    @string.Join(", ", shown)
                                    @if (remainingCount > 0)
                                    {
                                        <span> + @remainingCount more...</span>
                                    }
                                </p>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

