@using Retaline.Core.Services.Wishlist;
@using Retaline.Core.Services.Cart;
@using Retaline.Core.BusinessModel.Wishlist;
@using Microsoft.AspNetCore.Http;
@using Retaline.Web.Service;
@inject IWishlistService _wishList;
@inject ICartService _cartService;
@inject IHttpContextAccessor _httpContextAccessor
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration;
@model Retaline.Core.BusinessModel.Cart.CartData;
@inject SaasKit.Multitenancy.ITenant<Retaline.Core.ViewModel.Tenant.AppTenant> tenant;

@{
    if (Model.Cart == null)
        Model.Cart = new List<Retaline.Core.BusinessModel.Cart.CartDetails>();
    if (Model.PriceLabels == null)
        Model.PriceLabels = new List<Retaline.Core.BusinessModel.Cart.Checkout.CouponLabel>();
    if (Model.NearestItems == null)
        Model.NearestItems = new List<Retaline.Core.BusinessModel.Cart.CartNearestItem>();

    Retaline.Core.BusinessModel.Cart.DeliveryMethod deliveryMethod = null;
    if (Model != null && Model.Cart != null && Model.Cart.Count > 0)
    {
        var deldata = _cartService.CartDeliverymethod().Result;
        deliveryMethod = deldata.Data;
    }

    var multiDeliveryItems = new List<Retaline.Core.BusinessModel.Cart.CartDetails>();
    var courierItems = new List<Retaline.Core.BusinessModel.Cart.CartDetails>();
    var expressDelItems = new List<Retaline.Core.BusinessModel.Cart.CartDetails>();
    try { multiDeliveryItems = Model.Cart.Where(c => c.BranchTypeId < 3 && Model.NearestItems != null && Model.NearestItems.Any(nc => nc.StitID == c.CartProductId)).Select(c => c).ToList(); } catch { multiDeliveryItems = new List<Retaline.Core.BusinessModel.Cart.CartDetails>(); }
    try { courierItems = Model.Cart.Where(c => c.BranchTypeId < 3 && !multiDeliveryItems.Any(nc => nc.CartProductId == c.CartProductId)).Select(c => c).ToList(); } catch { courierItems = new List<Retaline.Core.BusinessModel.Cart.CartDetails>(); }
    try { expressDelItems = Model.Cart.Where(c => c.BranchTypeId == 3 && !multiDeliveryItems.Any(nc => nc.CartProductId == c.CartProductId)).Select(c => c).ToList(); } catch { expressDelItems = new List<Retaline.Core.BusinessModel.Cart.CartDetails>(); }
}

<div class="container">
    <div class="row">
        @if (multiDeliveryItems.Count > 0 || courierItems.Count > 0 || expressDelItems.Count > 0)
        {
            <div class="col-12">
                <ul class="order-processing_wrap">
                    <li class="d-flex justify-content-center flex-wrap odr_processing">
                        <div class="d-flex align-items-center justify-content-center processing-icon"></div>
                        <div class="processing-title w-100 text-center px-2">Review item</div>
                    </li>
                    <li class="d-flex justify-content-center flex-wrap">
                        <div class="d-flex align-items-center justify-content-center processing-icon"></div>
                        <div class="processing-title w-100 text-center px-2">Checkout</div>
                    </li>
                    <li class="d-flex justify-content-center flex-wrap">
                        <div class="d-flex align-items-center justify-content-center processing-icon"></div>
                        <div class="processing-title w-100 text-center px-2">Payment</div>
                    </li>
                </ul>

                <div class="titlewrap title_group">
                    <h2>Shopping cart</h2>
                </div>
            </div>

            <div class="col-12 col-lg-8">
                @if (multiDeliveryItems.Count > 0)
                {
                    <div class="cart-listing_wrap">
                        <div class="sub_title">
                            <h6>Choose Delivery mode<i class="fa-light fa-circle-question ms-2" title="This items available in both Express Delivery and Courier so you can select convenient delivery mode"></i></h6>

                            <div class="empty-basket-wrap">
                                <a href="#" class="emptybasket" id="btnemptycart">
                                    <i class="fa-regular fa-trash-can"></i>Empty Basket
                                </a>
                            </div>
                        </div>

                        <div class="cart-listing">
                            @foreach (var item in multiDeliveryItems)
                                @await Component.InvokeAsync("CartItem", new Retaline.Web.Models.Cart.CartItem { Product = item, DeliveryProduct = Model.NearestItems.Where(p => p.StitID == item.CartProductId).FirstOrDefault(), DeliveryType = 3 })



                        </div>

                    </div>

                    <!--cart-listing_wrap-->
                }
                @if (expressDelItems.Count > 0)
                {
                    <div class="cart-listing_wrap">
                        <div class="sub_title">
                            <h6>Items Available in Express Delivery</h6>
                            <div class="empty-basket-wrap">
                                <a href="#" class="emptybasket" id="btnemptycart">
                                    <i class="fa-regular fa-trash-can"></i>Empty Basket
                                </a>
                            </div>
                        </div>
                        <div class="cart-listing">

                            @foreach (var item in expressDelItems)
                                @await Component.InvokeAsync("CartItem", new Retaline.Web.Models.Cart.CartItem { Product = item, DeliveryProduct = new Retaline.Core.BusinessModel.Cart.CartNearestItem { }, DeliveryType = 2 })


                        </div>
                    </div>

                }
                @if (courierItems.Count > 0)
                {
                    <div class="cart-listing_wrap">
                        <div class="sub_title">
                            <h6>Items Available in Courier Delivery</h6>
                            <div class="empty-basket-wrap">
                                <a href="#" class="emptybasket" id="btnemptycart">
                                    <i class="fa-regular fa-trash-can"></i>Empty Basket
                                </a>
                            </div>
                        </div>
                        <div class="cart-listing">

                            @foreach (var item in courierItems)
                                @await Component.InvokeAsync("CartItem", new Retaline.Web.Models.Cart.CartItem { Product = item, DeliveryProduct = new Retaline.Core.BusinessModel.Cart.CartNearestItem { }, DeliveryType = 2 })


                        </div>
                    </div>

                }

            </div>
            <div class="col-12 col-lg-4">
                <form method="post" id="frmsubmitcart" action="/checkout">

                    <div class="order-summery_wrap order-summery_cart">
                        <h5>Cart Summary</h5>
                        <ul class="order-summery_list">
                            @foreach (var labelprice in Model.PriceLabels)
                            {
                                if (labelprice.Label != "Total Payable" && labelprice.Value != "")
                                {
                                    <li class="cost-prod">
                                        <div class="order-summery_label">@labelprice.Label</div>
                                        <div class="order-summery_value">@Common.FormatCurrency(labelprice.Value, _configuration["CurrencySymbol"])</div>
                                    </li>
                                }
                            }
                        </ul>
                        @*  @foreach (var orderTotal in Model.PriceLabels.Where(l => l.Label == "Total"))
                    {
                    <div class="grand-total">
                    <div class="order-summery_label">Total Payable</div>
                    <div class="order-summery_value">@Common.FormatCurrency(orderTotal.Value, _configuration["CurrencySymbol"])</div>
                    </div>
                    break;
                    } *@
                        <div class="btn-field m-fixed-button">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a href="javascript:void(0)" class="btn btn-primary checkout_btn  open-login-modal add-redirection" data-redirect="/cart">Login to check out</a>
                            }
                            else if (Model.Cart.Count > 0 && !Model.Cart.Any(c => c.CartSalesPrice <= 0) && tenant.Value.CanCheckout)
                            {
                                <button type="submit" class="btn btn-primary checkout_btn " value="Review and Checkout">Review to check out</button>
                                <a href="javascript:void(0)" class="btn btn-primary checkout_btn auto_remove_items hide" value="Remove Unavailable Items">Remove Unavailable Items</a>

                            }
                            else
                            {
                                <a href="@(Model.Cart.Count > 0 ? "/checkout" : "")" class="btn btn-primary checkout_btn " style="opacity: 0.2;" id="reviewBtn">Review to check out</a>
                            }

                            @if (Model.Cart.Any(c => c.PrescriptionRequired))
                            {
                                <input type="file" id="prescriptionupload" style="display:none" />
                            }
                            @if (deliveryMethod != null && deliveryMethod.HomeDelivery != null && deliveryMethod.CourierDelivery != null)
                            {
                                <input type="hidden" id="DeliveryType" />
                            }
                            else
                            {
                                <input type="hidden" id="DeliveryType" value="@(deliveryMethod != null && deliveryMethod.HomeDelivery != null ?"1":"2")" />
                            }
                        </div>
                        <div class="extr-info">
                            <p class="m-0">*Delivery charges may apply</p>
                        </div>
                    </div>
                </form>
            </div>
        }
        else
        {
            <div class="col-12">
                <div class="emptycart_pg_wrap">
                    <div class="emptycart_pg_img">
                        <svg width="300" height="250" viewBox="0 0 2942 2258" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2107 793.01C2106.41 789.07 2109.1 785.93 2103.01 787.02C2103.1 788.98 2102.8 791.05 2103 793.01C2118.65 946.29 2172.88 1098.6 2187.94 1253.07C2195.8 1270.19 2213.45 1278.67 2226.06 1290.95C2339.57 1401.55 2441.66 1568.11 2514.05 1708.96C2520.06 1720.66 2547.04 1770.6 2546.55 1779.48C2545.48 1798.66 2521.79 1819.82 2506.83 1829.82C2496.22 1836.92 2486.57 1842.53 2473.1 1837.92C2462.14 1834.17 2429.86 1810.62 2418.38 1802.64C2129.69 1601.75 1885.57 1254.58 1774.97 922.05C1769.9 906.81 1756.93 873.36 1755.32 859.49C1754.97 856.49 1755.38 854.74 1757.95 852.96C1873.67 791.06 1913.34 661.96 1991.06 566.06C1998.59 556.76 2029.5 520.02 2038.44 517.44C2053.59 513.07 2076.15 523.34 2090.96 527.09C2082.85 550.44 2074.38 574.15 2065.02 597.01C2064.41 598.5 2058.83 602.7 2061.03 605C2064.53 608.66 2066.46 599.94 2067.02 599.01C2070.61 593.02 2074.73 587.15 2078.06 581.05C2081.85 574.11 2097.2 536.68 2099.33 535.35C2101.85 533.77 2107.96 535.25 2111.05 536C2129.04 540.41 2167.1 560.7 2185.06 569.97C2270.81 614.23 2359.68 677.95 2427.02 747.01C2427.44 747.44 2431.89 758.82 2435.01 755C2438.13 751.18 2430.51 745.09 2429.02 743.01C2425.06 737.5 2421.24 731.24 2416.98 726.05C2413.29 721.56 2401.68 712.53 2400.06 708.97C2391.92 691.03 2412.44 645.49 2420.67 627.65C2459.46 543.59 2536.96 462.78 2610.08 407.06C2635.43 387.74 2636.84 383.4 2667.06 399.97C2679.24 406.65 2691.06 415.08 2696.8 428.23C2702.56 441.43 2700.29 447.05 2697.28 460.26C2686.6 507.11 2669.71 559.93 2655.06 606.04C2624.54 702.13 2574.8 863.26 2472.06 901.04C2397.81 928.34 2247.57 900.78 2170.16 880.85C2162.29 878.82 2131.11 871.58 2127.07 867.94C2122.38 863.73 2108.59 803.46 2107.02 792.99L2107 793.01ZM1977 729C1972.47 728.33 1969.95 729.02 1965.94 730.95C1952.37 737.48 1906.56 799.6 1900.01 815.02C1896.48 823.32 1894.01 832.21 1905.09 824.1C1918.1 814.58 1973.55 753.23 1976.54 739.56C1977.3 736.07 1977.09 732.52 1976.99 729.01L1977 729Z" fill="#1B1B1B" />
                            <path d="M755.2 764.8C823.99 759.51 893.05 761.28 962.08 760.93C970.51 763.93 1022.18 762.7 1024.99 767.04C1029.4 773.88 1015.8 776.28 1011.76 776.77C928.67 786.93 839.99 770.65 758.02 775.03C680.48 779.17 599.42 803.28 521.72 812.73C511.63 813.96 490.63 817.69 481.99 817.19C479.57 817.05 475.8 816.51 475.02 813.99C472.65 806.36 485.96 804.67 490.61 803.61C529.59 794.77 578.67 792.93 619.68 786.68C634.16 784.47 734.35 768.75 738.09 763.1C740.58 759.33 735.59 727.61 734.44 720.59C731.98 705.66 720.85 651.98 712.11 642.92C706.68 637.29 679.85 627.72 671.73 627.14C663.04 626.51 656.6 631.04 648.33 630.85C631.37 630.47 616.94 620.41 601.45 615.58C511.37 587.49 360.2 637.96 264 646.99C223.06 650.83 181.87 646.9 141.03 651.03C140.9 653.93 148.23 654.05 150.6 654.42C191.47 660.86 259.48 655.39 295.5 669.52C308.38 674.57 304.43 682.15 308.33 685.17C315.28 690.56 343.12 691.11 353.46 693.56C367.63 696.92 369.51 698.63 375.37 711.65C392.2 748.98 404.89 805.9 416.45 846.57C508.95 1172.01 584.86 1502.23 676.79 1827.84C678.17 1829.88 719.77 1829.22 726.1 1829.08C890.49 1825.43 1055.39 1822.7 1219.94 1820.92C1248.31 1820.61 1293.83 1817.39 1320.12 1820.9C1331.93 1822.48 1335.75 1838.73 1324.5 1843.48C1320.64 1845.11 1297.96 1846.91 1292.1 1847.08C1098.8 1852.68 903.56 1856.69 710.1 1859.08C701.73 1859.18 657.74 1859.51 653.98 1855.03C650.7 1851.12 639.99 1809.95 637.58 1801.43C543.19 1467.4 467.07 1127.98 370.44 794.57C366.12 779.66 354.38 731.35 347.49 721.52C342.67 714.64 316.95 709.35 308.09 708.93C285.51 707.86 276.97 718.66 257.53 722.53C217.21 730.56 113.07 720.24 72.57 708.43C51.29 702.23 38.11 695.72 40.96 669.95C44.24 640.27 105.33 627.99 129.37 622.36C200.09 605.81 280.22 592.41 352.26 581.25C422.69 570.35 515.55 555.1 585.74 561.25C605.57 562.99 667.6 582.03 680.12 596.87C685.29 603 684.05 613.8 686.94 616.05C692.07 620.03 717.48 620.66 723.9 629.09L755.2 764.78V764.8Z" fill="#40A5FF" />
                            <path d="M1224.59 2003.59C1262.74 1999.63 1313.81 2012.43 1317.07 2057.92C1321.19 2115.44 1246.37 2188.18 1193.11 2200.1C1136.56 2212.75 1099.1 2196.01 1101.04 2134.01C1102.9 2074.48 1165.75 2009.69 1224.6 2003.59H1224.59ZM1256.32 2023.32C1254.36 2023.94 1252.51 2025.77 1253.01 2027.97C1299.64 2048.1 1278.11 2105.89 1250.08 2133.07C1242.93 2140 1215.1 2154.57 1214.96 2164.05C1214.87 2170.28 1221.17 2168.89 1225.11 2168.15C1247.72 2163.89 1286.96 2115.95 1292.89 2093.87C1298.95 2071.34 1288.36 2013.09 1256.32 2023.31V2023.32Z" fill="#40A5FF" />
                            <path d="M792.52 2003.52C926.05 1985.44 910.52 2102.98 832.81 2163.81C798.52 2190.65 724.33 2227.86 690.18 2184.83C641.07 2122.94 725.37 2012.62 792.52 2003.52ZM757.01 2181C805.08 2180.39 877.92 2119.18 877.06 2070.11C876.6 2044.28 857.38 2024.87 831.01 2029.02C830.11 2033.41 833.18 2033.56 835.91 2035.1C847.51 2041.63 855.71 2041.45 860.42 2056.58C873.84 2099.72 818.31 2142.25 785.64 2160.65C783.17 2162.04 749.57 2173.84 757.01 2181Z" fill="#40A5FF" />
                            <path d="M1519 809.01C1531.69 801.91 1529.49 806.79 1541.92 807.09C1563.34 807.61 1719.32 812.86 1724.77 821.24C1725.56 822.45 1725.1 824.41 1725.12 825.92C1697.94 898.3 1667.76 969.42 1640.97 1041.97C1585.32 1192.7 1539.81 1347.33 1479.09 1496.09C1441.99 1498.37 1405.19 1499.25 1367.92 1499.09C1159.42 1498.17 951.051 1489.51 742.081 1493.09C696.091 1493.88 650.151 1494.75 604.151 1495.04L602.98 1488.02C629.79 1484.89 657.061 1481.02 684.021 1479.03C912.861 1462.17 1152.75 1477.11 1381.92 1483.09C1410.35 1483.83 1438.8 1484.53 1467.08 1484.09C1521.85 1335.63 1569.6 1184.56 1625.51 1036.52C1652.02 966.32 1678.34 895.65 1715.06 830.08C1715.13 826.79 1655.74 821.43 1649.98 821.03C1610.37 818.3 1566.78 821.22 1527.98 817.01C1523.59 816.53 1517.72 816.19 1519 811.01V809.01Z" fill="#40A5FF" />
                            <path d="M840.209 1501.1C843.219 1500.17 849.449 1503.11 850.569 1506.44C865.699 1579.76 876.779 1653.82 889.379 1727.63L892.269 1730.79L947.919 1726.93C1118.02 1725.63 1287.96 1722.18 1458.08 1721.09C1505.93 1720.79 1560.14 1716.53 1607.75 1723.25C1613.24 1724.02 1625.52 1725.84 1628.03 1730.99C1630.41 1735.87 1629.65 1739.94 1623.98 1740.98C1611.68 1743.25 1592.93 1744.17 1579.98 1744.98C1354.58 1759.15 1124.28 1749.37 898.079 1757.08C883.479 1757.58 866.609 1761.25 863.459 1743.53C856.639 1705.19 851.969 1664.69 847.249 1625.74C843.439 1594.3 834.849 1545.87 835.409 1516C835.469 1512.75 837.019 1502.06 840.199 1501.08L840.209 1501.1Z" fill="#40A5FF" />
                            <path d="M788.998 1005.04L847.898 1093.03L946.728 1048.77C947.868 1046.05 946.818 1043.65 945.878 1041.12C940.238 1026.01 920.258 1003.25 915.898 989.1C914.668 985.1 914.828 981.1 914.998 977.01C920.758 975.96 923.628 980.421 926.938 984.051C934.958 992.881 956.388 1032.96 963.038 1036.03C971.938 1040.15 996.288 1019.24 1008.99 1023C1016.46 1038.85 973.918 1045.13 972.828 1050.27C970.908 1059.36 989.938 1079.19 993.418 1089.56C997.328 1101.21 991.928 1102.76 982.858 1096.12C973.678 1089.41 965.938 1060.37 956.178 1060.95L859.058 1109.97L916.378 1192.76C925.938 1195.21 1020.03 1132.67 1040.98 1135L1039.11 1142.11C1003.24 1166.45 962.678 1183.56 924.998 1205.03L973.898 1279.08L974.988 1286.98C970.578 1286.83 965.368 1288.35 962.018 1284.96C952.288 1275.09 918.738 1217.62 909.568 1215.26C903.348 1213.66 840.688 1254.87 826.428 1259.44C822.518 1260.69 819.178 1261.61 814.998 1260.99C815.028 1253.42 822.938 1249.38 828.368 1245.38C849.578 1229.79 877.348 1216.82 900.898 1204.9L843.668 1119.2L757.898 1159.01C752.998 1166.8 777.898 1185.86 772.968 1196.98C760.088 1200.37 748.518 1166.56 740.348 1167.31C725.138 1173.52 600.378 1245.05 594.998 1238.98C588.988 1232.21 610.458 1221.08 615.148 1218.16C652.298 1195.04 693.128 1177.85 730.968 1156.01L674.818 1069.1L602.998 1100.98C601.818 1093.88 610.098 1089.84 615.168 1086.17C630.498 1075.08 649.308 1068.41 665.028 1057.94C640.338 1012.1 604.518 971.18 584.988 923L594.578 923.411L679.918 1046.96L766.138 1003.03C769.988 997.011 737.798 960.38 742.988 955.01C752.388 945.28 770.628 997.74 781.488 994.72L955.878 915.021L958.968 919.98L788.978 1005.03L788.998 1005.04ZM834.748 1106.76C837.888 1101.8 825.068 1082.49 821.828 1077.17C808.698 1055.62 791.508 1036.31 777.648 1015.21L687.078 1059.09L744.358 1149.14L834.758 1106.76H834.748Z" fill="#40A5FF" />
                            <path d="M1203 815.01C1203.56 824.46 1198.04 826.4 1190.36 829.38C1177.34 834.43 1161.34 836.41 1147.93 840.95C1129.49 847.18 1112.06 859.27 1092.99 861.03C1103.75 927.55 1115.37 996.39 1142.65 1058.37C1186.68 1158.38 1285.72 1229.23 1374.94 1127.97C1451.8 1040.74 1478.45 896.08 1501.23 786.26C1503.03 777.57 1516.08 717.16 1519.17 715.18C1519.82 714.76 1524.77 714.81 1524.99 715.01C1529.58 719.38 1516.93 796.91 1515 809.02C1514.9 809.67 1515.11 810.37 1515 811.02C1498.02 915.06 1443.03 1130.04 1341.09 1180.11C1247.97 1225.85 1169.52 1151.82 1132.65 1072.37C1111.17 1026.1 1074.7 906.91 1081.21 858.17C1082.82 846.15 1090.67 852.97 1091.03 849.99C1092.31 839.18 1072.66 802.74 1061.55 797.47C1047.45 790.79 1042.15 799.28 1033.92 798.91C1022.68 798.4 1025.29 782.26 1040.47 779.49C1079.31 772.38 1094.7 812.13 1101.01 843.02L1177.81 817.24C1181.07 794.18 1172.02 759.84 1157.89 741.12C1153.66 735.51 1146.21 736.18 1149 725.02C1179.72 724.76 1188.96 764.1 1192.45 788.57C1193.65 796.97 1190.18 808.85 1197 813.02C1197.27 813.18 1202.57 814.97 1203 815.02V815.01Z" fill="#1B1B1B" />
                            <path d="M1530.52 1841.52C1559.89 1837.52 1609.91 1846.51 1614.82 1882.17C1620.62 1924.23 1576.45 1973.5 1542.83 1993.83C1487.47 2027.28 1420.39 2013.46 1435.17 1936.17C1442.95 1895.51 1488.9 1847.19 1530.52 1841.52ZM1519.01 1981C1550.39 1984.38 1585.1 1943.79 1593.56 1916.57C1599.35 1897.93 1600.37 1869.97 1575.01 1869.02C1574.44 1875.99 1581.19 1880.07 1582.53 1886.46C1586.38 1904.82 1569.97 1935.25 1556.78 1947.8C1553.27 1951.14 1512.83 1975.45 1519 1981H1519.01Z" fill="#40A5FF" />
                            <path d="M2062.99 491.001C2056.54 497.301 2000.86 470.841 1990.03 466.971C1745.93 379.931 1447.87 419.111 1299.37 650.381C1293.52 659.491 1274.17 699.361 1270.43 702.411C1265.57 706.381 1258.05 707.251 1257.47 699.541C1256.17 682.311 1301.67 617.201 1314.2 601.211C1474.73 396.321 1784.61 363.951 2014.34 460.651C2021.79 463.791 2058.06 479.811 2061.13 483.861C2062.96 486.281 2063.41 487.981 2062.98 490.991L2062.99 491.001Z" fill="#1B1B1B" />
                            <path d="M1506.99 1227C1499.93 1234.24 1475.23 1189.66 1474.97 1183.01L1219 1303.04L1251.9 1351.1C1254.35 1354.4 1257.71 1355.72 1261.79 1355.02L1346.14 1315.11C1347.98 1313.16 1346.31 1311.47 1345.44 1309.61C1342.85 1304.1 1321.27 1272.6 1325.01 1269.03C1342.34 1265.21 1351.29 1306.03 1362.07 1307.09C1368.96 1307.77 1417.25 1281.27 1430.97 1277.99C1437.97 1276.32 1448.88 1275.55 1440.96 1283.98C1438.85 1286.23 1418.89 1296.94 1414.34 1299.36C1399.81 1307.1 1384.49 1313.39 1369.09 1319.12C1365.71 1324.02 1404.19 1372.26 1398.99 1385.01C1389.86 1394.74 1362.8 1336.33 1359.09 1332.49C1357.12 1330.44 1355.3 1329.26 1352.33 1329.52C1340.93 1337.48 1272.34 1360 1267.88 1367C1263 1374.67 1291.87 1396.67 1286.98 1409.01C1281.62 1409.75 1277.53 1406.53 1273.92 1403.09C1267.51 1396.98 1255.82 1374.88 1248.09 1374.88C1245.49 1374.88 1237.98 1378.11 1237 1377.01C1232.3 1371.75 1242.77 1366.61 1242.95 1365.92C1244.35 1360.56 1208.94 1320.66 1203.79 1313.18L1101 1353.01L1104.94 1345.97C1133.78 1330.31 1162.6 1313.79 1192.99 1300.99C1197.2 1295.33 1138.71 1232 1135.46 1217.56C1134.82 1214.73 1134.85 1211.89 1135.01 1209.03L1144.41 1211.64L1205.4 1290.6L1215.02 1290.03L1466.16 1175.12C1467.87 1173 1466.66 1171.13 1466.13 1168.99C1463.93 1160 1430.11 1107.61 1435.01 1103.04C1435.78 1102.32 1441.22 1103.13 1443.01 1104.02C1447.21 1106.11 1485.08 1175.11 1490.04 1184.98C1493.03 1190.94 1510.29 1223.62 1506.99 1227.01V1227Z" fill="#40A5FF" />
                            <path d="M932.989 677C930.159 679.77 908.539 670.85 904.239 668.77C842.609 638.97 812.539 559.07 844.239 497.26C878.259 430.92 967.519 424.5 1031.42 406.44C1109.63 384.34 1211.37 333.55 1181.98 235.02C1178.87 224.6 1167.64 205.66 1167.35 197.56C1166.86 184.17 1186.64 200.33 1190.66 206.35C1217.22 246.08 1205.55 307.98 1176.02 343.04C1092.43 442.27 933.039 412.52 867.049 490.07C816.059 550 852.639 620.06 909.159 657.84C913.149 660.51 938.369 671.73 932.979 677H932.989Z" fill="#1B1B1B" />
                            <path d="M2489.01 1847C2494.38 1841.83 2498.39 1856.47 2498.84 1860.18C2506.93 1926.82 2476.32 1973.07 2450.65 2029.66C2441.33 2050.2 2406.07 2118.29 2455.79 2112.89C2507.27 2107.3 2529.4 2042.42 2555.34 2006.35C2577.48 1975.58 2637.71 1918.81 2637.16 1880.02C2636.93 1863.6 2626.28 1843.64 2612.88 1834.14C2608.09 1830.74 2568.1 1815.82 2577.01 1807.02C2577.7 1806.34 2585.28 1807.2 2587.49 1807.53C2634.69 1814.56 2655.93 1856.78 2646.45 1901.46C2637.08 1945.67 2597.64 1976.67 2572.18 2011.19C2538.08 2057.41 2509.48 2143.84 2434.5 2124.53C2400.12 2115.68 2413.42 2073.55 2423.29 2050.3C2448.3 1991.44 2477.09 1954.09 2486.85 1885.86C2487.65 1880.28 2487.61 1848.36 2489.02 1847.01L2489.01 1847Z" fill="#1B1B1B" />
                            <path d="M2671.01 343C2667.22 339.21 2684.18 317.03 2686.75 311.76C2700.63 283.3 2704.67 250.79 2739.04 238.05C2791.35 218.67 2817.71 251.83 2835.97 295.03C2852.11 333.21 2896.48 453.62 2895.08 490.09C2894.07 516.5 2871.96 543.77 2845.13 525.87C2814.25 505.26 2790.97 416.8 2757.98 414.82C2749.54 414.31 2733.95 427.9 2731.29 419.69C2724.21 397.79 2764.05 398.69 2777.62 405.37C2811.71 422.15 2836.42 511.4 2860.93 518.21C2870.79 520.95 2879.87 502.01 2880.83 493.81C2883.2 473.76 2863.95 423.32 2857.02 401.97C2846.41 369.28 2820.1 280.56 2795.93 261.06C2767.77 238.32 2734.45 248.69 2717.37 278.41C2705.07 299.81 2698.99 338.83 2670.99 343.01L2671.01 343Z" fill="#1B1B1B" />
                            <path d="M1830.99 1139.02C1808.89 1216.88 1773.26 1289.79 1743.91 1364.93C1752.58 1375.98 1735.67 1382.07 1726.34 1387.35C1685 1410.77 1639.11 1426.15 1596.96 1447.97C1584.36 1454.49 1509.04 1503.01 1501.01 1495C1500.23 1494.22 1501.17 1488.9 1502.05 1487.06C1508.58 1473.32 1630.09 1412.58 1651.65 1402.66C1677.41 1390.81 1703.97 1380.44 1730.53 1370.54C1733.29 1350.47 1740.36 1332.97 1746.97 1313.97C1763.98 1265.09 1790 1195.48 1817.39 1152.39C1819.48 1149.1 1826.49 1135.02 1831 1139.02H1830.99Z" fill="#40A5FF" />
                            <path d="M1261 909.01C1261.91 892.65 1259.26 869.71 1258.98 852.03C1258.04 792.78 1260.73 733.88 1301.06 686.07C1310.41 674.98 1326.47 659.75 1340.99 660C1324.26 681.91 1306.04 702.16 1294.65 727.66C1252.93 821.07 1283.1 919.68 1286.98 1016.03C1287.19 1021.34 1287.78 1049.18 1284.97 1051C1283.85 1051.73 1278.91 1051.34 1278.05 1048.96C1271.83 1026.27 1273.67 999.13 1268.52 976.49C1258.96 934.5 1225.72 896.53 1208.66 858.35C1205.34 850.93 1201.86 843.35 1203.02 835.01C1205.58 832.05 1218.21 849.03 1219.84 851.17C1233.53 869.19 1245.11 889.76 1257.01 909C1257.94 910.5 1257.23 914.82 1260.99 915C1261.11 913.02 1260.9 910.99 1261.01 909L1261 909.01Z" fill="#1B1B1B" />
                            <path d="M1059.01 803C1058.59 805.5 1059.9 811.44 1058.78 812.79C1054.11 818.41 1020.47 811.24 1012.09 810.92C916.939 807.25 820.65 814.33 725.99 818.98C627.05 823.85 528.12 831.14 429.02 832.99L432.35 822.92C452.79 822.17 473.58 822.2 493.99 820.98C600.92 814.56 708.76 805.34 815.93 802.92C896.87 801.09 978.08 804.46 1059.02 803H1059.01Z" fill="#40A5FF" />
                            <path d="M1175.02 101.01C1174.79 111.92 1166.66 124.31 1154.42 120.61C1150.02 119.28 1148.53 112.35 1143.04 113.02C1135.82 134.34 1103.57 162.87 1084.16 138.85C1070.77 122.28 1072.39 75.5403 1097.35 68.3503C1113.99 63.5603 1135.4 73.4303 1137.8 72.8703C1142.38 71.8003 1139.76 60.6903 1152.01 60.9403C1160.95 61.1303 1161.25 66.3403 1166.99 71.0003C1171.21 39.9603 1219.78 24.9803 1233.41 59.6003C1249.19 99.6803 1206.77 118.73 1175.03 101L1175.02 101.01ZM1200.48 53.4703C1192.51 54.8603 1171.86 74.1303 1173.29 81.7403C1173.9 84.9503 1189.39 93.1403 1192.93 94.0603C1231.68 104.16 1235.51 47.3503 1200.48 53.4703ZM1104.42 81.4403C1086.05 85.6303 1085.02 136.34 1105.87 134.99C1116.62 134.29 1140.04 102.28 1139.03 92.0603C1138.04 82.0803 1112.55 79.5903 1104.43 81.4403H1104.42Z" fill="#1B1B1B" />
                            <path d="M1814.99 625.02C1806.69 650.79 1788.91 671.74 1777.28 696.29C1753.9 745.64 1741.53 797.15 1742.92 852.09C1743.04 857 1746.03 863.67 1745.14 867.69C1744.39 871.06 1730.33 873.55 1731.01 866C1732.36 848.52 1728.23 831.47 1729.02 814.03C1731.21 766.03 1750.87 705.71 1775.39 664.4C1779.42 657.62 1805.89 616.46 1814.99 625.02Z" fill="#1B1B1B" />
                            <path d="M1717 669C1716.36 691.26 1711.87 713.74 1710.92 735.92C1709.79 762.15 1715.34 788.81 1711.14 814.13C1703.63 816.91 1702.13 815.03 1701.21 807.84C1696.6 771.97 1696.12 728.03 1701.24 692.23C1702.76 681.6 1703.24 665.16 1717 668.99V669Z" fill="#1B1B1B" />
                            <path d="M1105.01 771.001C1092.76 775.721 1081.1 762.891 1072 762.891C1063.95 762.891 1044.88 779.401 1049.06 760.081C1053.21 740.921 1109.7 745.331 1105.01 771.011V771.001Z" fill="#1B1B1B" />
                            <path d="M1106.43 731.38C1118.48 727.79 1140.25 741.68 1132.14 753.13C1127.83 759.22 1106.25 747.56 1102.99 744.03C1098.91 739.61 1101.14 732.95 1106.43 731.38Z" fill="#1B1B1B" />
                            <path d="M1197 813.01C1198.6 809.3 1199.26 805.9 1204 805C1209.38 803.98 1244.61 804.5 1247.83 806.81C1250.26 808.55 1248.66 812.41 1249.01 815.01C1234.46 813.72 1217.14 816.8 1203 815.01C1202.57 814.96 1197.27 813.17 1197 813.01Z" fill="#40A5FF" />
                            <path d="M1418.43 707.34C1435.12 702.5 1441.02 727.1 1427.54 730.71C1413.28 734.52 1407.41 710.54 1418.43 707.34Z" fill="#1B1B1B" />
                            <path d="M1702.99 455.001C1717.06 450.491 1734.13 463.451 1720.06 475.071C1706.63 486.171 1700.22 466.581 1702.99 455.001Z" fill="#1B1B1B" />
                            <path d="M1982.51 522.52C1971.54 533.42 1957.91 515.53 1962.99 503C1975.56 497.45 1992.71 512.38 1982.51 522.52Z" fill="#1B1B1B" />
                            <path d="M1224.28 947.271C1242.27 941.241 1249.9 971.481 1227.98 969.171C1216.5 967.961 1219.99 948.721 1224.28 947.271Z" fill="#1B1B1B" />
                            <path d="M1414.52 996.531C1402.44 1008.62 1392.34 988.201 1396.99 977.001C1410.89 971.501 1425.06 985.971 1414.52 996.531Z" fill="#1B1B1B" />
                            <path d="M1806.28 531.271C1823.42 525.501 1829.82 552.281 1810.1 548.991C1801.16 547.501 1800.47 533.221 1806.28 531.271Z" fill="#1B1B1B" />
                            <path d="M1803 747C1831.93 741.12 1820.62 774.99 1805.81 763.19C1801.45 759.71 1803.23 751.99 1803 747Z" fill="#1B1B1B" />
                            <path d="M1192.27 1079.23C1203.32 1075.53 1212.79 1091.2 1203 1096C1186.45 1104.13 1185.52 1081.49 1192.27 1079.23Z" fill="#1B1B1B" />
                            <path d="M1127.31 917.3C1134.06 913.03 1151.39 920.15 1143.19 930.19C1133.37 942.22 1118.6 922.8 1127.31 917.3Z" fill="#1B1B1B" />
                            <path d="M1476.99 567.01V550.99C1499.45 548.72 1502.06 570.66 1476.99 567.01Z" fill="#1B1B1B" />
                            <path d="M1622.99 669.02V653C1647.79 650.28 1645.65 670.95 1622.99 669.02Z" fill="#1B1B1B" />
                            <path d="M1902.28 621.281C1918.12 615.971 1921.02 638.011 1905.99 637.181C1895.57 636.611 1897.4 622.921 1902.28 621.281Z" fill="#1B1B1B" />
                            <path d="M1310.99 857C1325.87 851.64 1334.6 872.34 1320.01 873.18C1308.11 873.86 1311.1 866.21 1310.99 857Z" fill="#1B1B1B" />
                            <path d="M1297 1101C1311.34 1096.41 1320.98 1116.32 1306.01 1117.18C1294.11 1117.86 1297.09 1110.21 1297 1101Z" fill="#1B1B1B" />
                            <path d="M1542.99 755C1569.73 749.67 1558.73 777.83 1544.86 768.13C1541.73 765.94 1543.23 758.54 1542.99 755Z" fill="#1B1B1B" />
                            <path d="M1261 909.011C1260.89 911.001 1261.1 913.031 1260.98 915.011C1257.22 914.831 1257.93 910.511 1257 909.011H1261Z" fill="#1B1B1B" />
                            <path d="M1519 809.011V811.011H1515C1515.11 810.361 1514.9 809.661 1515 809.011C1516.18 808.751 1518.3 809.401 1519 809.011Z" fill="#40A5FF" />
                        </svg>
                    </div>
                    <div class="emptycart_pg_cont">
                        <p>Your Cart is Empty...Start Shopping Now</p>
                        <p>Go to <a href="">Home Page</a></p>
                    </div>
                </div>
            </div>

            <!--col-12-->
            <script>
                setTimeout(() => {
                    location.href = '/';
                }, 3000)
            </script>
        }
    </div>
</div>

<script>
    cart.url.deleteCart = '@Url.Action("DeleteCartItem", "Cart")';
    cart.properties.isCartPage = true;


    $(document).ready(function () {
        // Check if any div inside .cart-listing has the class 'out-of-stock' or 'out_of_stock'
        if ($('.product-card.product_outofstock').length > 0) {
            // Find the button with class 'checkout_btn'
            var $checkoutBtn = $('.checkout_btn');
            var $autoRemoveBtn = $('.checkout_btn.auto_remove_items');
            // Modify the button if it exists
            if ($checkoutBtn.length > 0) {
                $checkoutBtn.addClass('hide')
                $autoRemoveBtn.removeClass('hide')
            }
        }
    });

    window.addEventListener('pageshow', function (event) {
        // Check if the page was loaded from the browser's cache (bfcache)
        if (event.persisted) { //runs only if browser navigation buttons are used
            $('.checkout_btn').removeClass('processing'); //Remove processing throbber
        }
    });
</script>

@if (deliveryMethod != null && deliveryMethod.HomeDelivery != null && deliveryMethod.CourierDelivery != null)
{

    <script>
        cart.properties.multiCourier = true;
    </script>


}

