@inject Microsoft.Extensions.Configuration.IConfiguration _configuration;
@inject SaasKit.Multitenancy.ITenant<Retaline.Core.ViewModel.Tenant.AppTenant> tenant;

@{
    var defLoginMethod = _configuration["DefaultLoginMethod"];
}
<!-- Login Modal Popup-->


<div class="modal fade login-modal" id="login-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="login-modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-body">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				<div class="loginpopupcontent">
					<div class="logincontent">
						<div class="welcome_massage_wrap">
							<div class="welcome_title">
								<h5>Welcome to</h5>
								<div class="mrch_logo">
									@* @await Component.InvokeAsync("Logo") *@
									@{
										string strthemeLogo = "";
										if (tenant != null && tenant.Value != null)
										{
											if (!String.IsNullOrEmpty(tenant.Value.LogoImage))
												strthemeLogo = tenant.Value.LogoImage;
										}

									}
									@if (String.IsNullOrEmpty(strthemeLogo))
									{
										@if (tenant?.Value?.StoreId != "0" && !String.IsNullOrEmpty(tenant?.Value?.StoreId))
										{
											<span title="@tenant?.Value?.Name" class="logotext">
												<i class="fa-solid fa-store me-2" aria-hidden="true"></i>
												<span class="storname">@(tenant?.Value?.Name.Length > 15 ? Retaline.Web.Service.Common.ShrinkText(tenant?.Value?.Name, 15, false).Split(' ')[0] : tenant?.Value?.Name)</span>
											</span>
										}
										else
										{
											<span class="">
												<img src="/images/LOGO.svg" onerror="LogoIMGError(this)" alt="@tenant?.Value?.Name">
											</span>
										}
									}
									else
									{
										<span class="">
											<img class="desktoplogo_img" src="@(String.IsNullOrEmpty(strthemeLogo) ? "/images/LOGO.svg": strthemeLogo)" alt="@tenant?.Value?.Name" onerror="LogoIMGError(this)">
										</span>
									}
								</div>
							</div><!--welcome-->
							<div class="welcome_massage">
								<p>A member of Grozeo merchant network </p>
								<div class="logindisc">
									<ul>
										<li>Global network of neighbourhood retailers</li>
										<li>Unified login experience across merchants</li>
										<li>Single wallet transactions for easy payments</li>
										<li>Connect with your favourite stores anytime</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="logininfogra">
							<svg xmlns="http://www.w3.org/2000/svg" width="420" height="255" viewBox="0 0 420 255" fill="none">
								<path d="M37.9683 157.251C37.9303 157.251 37.8986 156.725 37.7149 155.793C37.4673 154.486 37.0765 153.21 36.5496 151.989C35.7902 150.161 34.6651 148.508 33.2436 147.132C31.5212 145.418 29.1932 144.452 26.7642 144.443C24.3352 144.435 22.0007 145.385 20.2666 147.088C18.8391 148.459 17.7056 150.107 16.9353 151.932C16.4066 153.153 16.0137 154.429 15.7636 155.736C15.5799 156.668 15.5356 157.194 15.4976 157.194C15.4878 157.065 15.4878 156.936 15.4976 156.807C15.4976 156.554 15.5483 156.173 15.6179 155.717C15.8159 154.377 16.1797 153.067 16.7009 151.818C17.4518 149.939 18.589 148.239 20.0386 146.828C21.8257 145.053 24.2436 144.061 26.7611 144.069C29.2786 144.077 31.6899 145.086 33.4653 146.872C34.9052 148.291 36.0334 149.995 36.7776 151.875C37.2901 153.129 37.6495 154.44 37.8479 155.78C37.9176 156.249 37.9493 156.617 37.9619 156.871C37.9802 156.997 37.9823 157.124 37.9683 157.251Z" fill="#E0E0E0" />
								<path d="M41.8498 157.251C41.8118 157.251 41.7738 156.725 41.5965 155.793C41.3428 154.487 40.9522 153.212 40.4312 151.989C39.6698 150.162 38.545 148.51 37.1252 147.132C35.4027 145.418 33.0748 144.452 30.6458 144.443C28.2167 144.435 25.8823 145.385 24.1482 147.088C22.7241 148.451 21.5927 150.091 20.8232 151.906C20.2959 153.129 19.901 154.404 19.6452 155.71C19.4615 156.642 19.4235 157.168 19.3855 157.168C19.3715 157.04 19.3715 156.91 19.3855 156.782C19.4056 156.416 19.4458 156.052 19.5058 155.691C19.7041 154.352 20.0657 153.043 20.5825 151.792C21.3359 149.914 22.4727 148.215 23.9202 146.803C25.7073 145.028 28.1252 144.035 30.6427 144.044C33.1602 144.052 35.5715 145.06 37.3468 146.847C38.7905 148.264 39.9211 149.968 40.6655 151.849C41.1795 153.102 41.5368 154.414 41.7295 155.755C41.7992 156.224 41.8308 156.592 41.8435 156.845C41.8655 156.979 41.8677 157.116 41.8498 157.251Z" fill="#E0E0E0" />
								<path d="M4.39533 155.863L48.2157 155.527L49.172 215.319H0L4.39533 155.863Z" fill="#EBEBEB" />
								<path d="M48.2157 155.527H53.7184L58.4494 215.319H49.172L48.2157 155.527Z" fill="#E0E0E0" />
								<path d="M38.9239 179.067H10.2402V183.879H38.9239V179.067Z" fill="white" />
								<path d="M387.523 157.251C387.485 157.251 387.447 156.725 387.264 155.793C387.016 154.487 386.627 153.211 386.105 151.989C385.341 150.164 384.216 148.512 382.799 147.132C381.076 145.418 378.748 144.452 376.319 144.443C373.89 144.435 371.556 145.385 369.822 147.088C368.393 148.458 367.259 150.106 366.49 151.932C365.96 153.153 365.565 154.428 365.312 155.736C365.129 156.668 365.091 157.194 365.053 157.194C365.035 157.066 365.035 156.935 365.053 156.807C365.053 156.554 365.097 156.173 365.167 155.717C365.371 154.378 365.734 153.069 366.25 151.818C367.001 149.939 368.138 148.239 369.587 146.828C371.375 145.053 373.792 144.061 376.31 144.069C378.828 144.077 381.239 145.086 383.014 146.872C384.455 148.291 385.585 149.995 386.333 151.875C386.844 153.129 387.201 154.44 387.397 155.78C387.466 156.249 387.498 156.617 387.511 156.871C387.529 156.997 387.533 157.124 387.523 157.251Z" fill="#E0E0E0" />
								<path d="M391.419 157.251C391.381 157.251 391.349 156.725 391.166 155.793C390.918 154.486 390.527 153.21 390 151.989C389.241 150.161 388.116 148.508 386.694 147.132C384.972 145.418 382.644 144.452 380.215 144.443C377.786 144.435 375.452 145.385 373.717 147.088C372.29 148.459 371.156 150.107 370.386 151.932C369.857 153.153 369.465 154.429 369.214 155.736C369.031 156.668 368.986 157.194 368.955 157.194C368.937 157.066 368.937 156.935 368.955 156.807C368.972 156.442 369.01 156.078 369.069 155.717C369.267 154.377 369.631 153.067 370.152 151.818C370.903 149.939 372.04 148.239 373.489 146.828C375.277 145.053 377.694 144.061 380.212 144.069C382.729 144.077 385.141 145.086 386.916 146.872C388.358 148.289 389.487 149.993 390.228 151.875C390.744 153.127 391.104 154.439 391.299 155.78C391.368 156.249 391.4 156.617 391.413 156.871C391.431 156.997 391.433 157.124 391.419 157.251Z" fill="#E0E0E0" />
								<path d="M353.969 155.863L397.783 155.527L398.739 215.319H349.574L353.969 155.863Z" fill="#EBEBEB" />
								<path d="M397.783 155.527H403.287L408.024 215.319H398.739L397.783 155.527Z" fill="#E0E0E0" />
								<path d="M388.499 179.067H359.816V183.879H388.499V179.067Z" fill="white" />
								<path d="M418.646 215.084C418.646 215.179 325.027 215.249 209.57 215.249C94.1134 215.249 0.46875 215.179 0.46875 215.084C0.46875 214.989 94.0691 214.919 209.57 214.919C325.071 214.919 418.646 215.002 418.646 215.084Z" fill="#263238" />
								<path d="M341.992 211.699H74.2381C72.1315 211.701 70.045 211.288 68.098 210.483C66.151 209.678 64.3817 208.496 62.8912 207.006C61.4006 205.515 60.2182 203.746 59.4115 201.798C58.6047 199.849 58.1895 197.761 58.1895 195.652V11.6973C58.1895 8.59499 59.4205 5.61973 61.6119 3.42606C63.8033 1.23239 66.7754 0 69.8745 0H346.989C349.919 0 352.728 1.16493 354.8 3.23851C356.871 5.31209 358.035 8.12447 358.035 11.057V195.652C358.035 197.761 357.62 199.848 356.813 201.796C356.007 203.744 354.825 205.513 353.335 207.004C351.845 208.494 350.077 209.675 348.131 210.481C346.184 211.287 344.099 211.701 341.992 211.699Z" fill="#7A8990" />
								<path d="M357.699 214.92H61.1664C57.0578 214.92 53.1175 213.286 50.2123 210.378C47.3072 207.469 45.675 203.525 45.675 199.412V196.997C45.6698 196.915 45.6814 196.834 45.709 196.757C45.7366 196.68 45.7796 196.61 45.8354 196.55C45.8912 196.491 45.9586 196.444 46.0334 196.411C46.1082 196.379 46.1889 196.362 46.2704 196.363H369.904C369.985 196.362 370.066 196.379 370.141 196.411C370.216 196.444 370.283 196.491 370.339 196.55C370.395 196.61 370.438 196.68 370.465 196.757C370.493 196.834 370.504 196.915 370.499 196.997V202.119C370.499 203.801 370.168 205.467 369.525 207.021C368.881 208.575 367.938 209.986 366.749 211.175C365.561 212.364 364.15 213.306 362.597 213.949C361.044 214.592 359.38 214.921 357.699 214.92Z" fill="#7A8990" />
								<path d="M357.699 214.92L358.142 214.888C358.566 214.875 358.989 214.837 359.408 214.774C362.355 214.355 365.065 212.923 367.072 210.722C368.089 209.606 368.902 208.318 369.472 206.918C370.135 205.278 370.458 203.52 370.422 201.751V197.313C370.422 197.047 370.422 196.794 370.251 196.629C370.08 196.464 369.808 196.489 369.542 196.483L46.3011 196.584C46.2337 196.583 46.1668 196.596 46.1048 196.622C46.0447 196.648 45.9912 196.687 45.9484 196.736C45.9056 196.786 45.8746 196.844 45.8578 196.908C45.8438 197.072 45.8438 197.238 45.8578 197.402V198.486C45.8578 199.209 45.8578 199.919 45.9211 200.629C46.0233 202.046 46.3305 203.441 46.8331 204.769C47.079 205.432 47.3645 206.08 47.6881 206.709C48.0322 207.327 48.4151 207.922 48.8344 208.491C50.5053 210.777 52.7733 212.559 55.3894 213.639C56.6908 214.155 58.0531 214.503 59.4428 214.672C60.8298 214.805 62.2358 214.78 63.6481 214.78L350.858 214.901L63.6291 215.021C62.2231 215.021 60.8108 215.021 59.3858 214.913C57.9676 214.739 56.5777 214.383 55.2501 213.854C52.5845 212.769 50.267 210.973 48.5494 208.662C48.1215 208.082 47.7323 207.474 47.3841 206.842C47.0469 206.203 46.7528 205.543 46.5038 204.864C45.9888 203.506 45.6751 202.079 45.5728 200.629C45.5284 199.9 45.4968 199.177 45.5094 198.461V197.377C45.4916 197.185 45.4916 196.992 45.5094 196.8C45.5388 196.688 45.5934 196.583 45.6692 196.496C45.7449 196.408 45.8398 196.338 45.9464 196.293C46.0511 196.25 46.1629 196.229 46.2758 196.229L369.896 196.331C370.043 196.34 370.182 196.401 370.289 196.502C370.396 196.603 370.467 196.737 370.492 196.882C370.501 197.015 370.501 197.149 370.492 197.282V198.816C370.492 199.818 370.492 200.794 370.492 201.745C370.527 203.524 370.204 205.292 369.542 206.944C368.961 208.347 368.136 209.635 367.103 210.748C365.083 212.958 362.35 214.385 359.383 214.78C358.963 214.84 358.54 214.874 358.116 214.882L357.699 214.92Z" fill="#263238" />
								<path d="M341.548 12.9209H73.8377C71.9943 12.9209 70.5 14.4168 70.5 16.2621V182.991C70.5 184.837 71.9943 186.333 73.8377 186.333H341.548C343.391 186.333 344.885 184.837 344.885 182.991V16.2621C344.885 14.4168 343.391 12.9209 341.548 12.9209Z" fill="#656D71" />
								<path d="M341.548 186.333C341.741 186.321 341.934 186.3 342.125 186.269C342.689 186.171 343.218 185.926 343.658 185.559C344.021 185.26 344.315 184.885 344.522 184.462C344.728 184.039 344.842 183.576 344.855 183.106V179.194C344.855 173.26 344.855 164.51 344.855 153.251C344.855 130.718 344.823 98.0925 344.798 57.8335C344.798 47.7656 344.798 37.2264 344.798 26.2159C344.798 23.4728 344.798 20.698 344.798 17.8915V16.8391C344.81 16.4943 344.799 16.1491 344.766 15.8056C344.649 15.1264 344.318 14.5023 343.822 14.0241C343.341 13.5341 342.715 13.2137 342.036 13.1111C341.69 13.0641 341.34 13.0492 340.991 13.0668H73.8576C73.4001 13.0642 72.9475 13.161 72.5309 13.3503C72.1144 13.5397 71.7438 13.8171 71.4446 14.1636C71.1482 14.5068 70.9318 14.9118 70.8112 15.3492C70.696 15.8002 70.6511 16.2665 70.6782 16.7313V100.736C70.6782 115.23 70.6782 129.452 70.6782 143.404V174.268C70.6782 175.954 70.6782 177.634 70.6782 179.308V181.812C70.5971 182.624 70.6812 183.443 70.9252 184.221C71.2335 184.962 71.8106 185.558 72.5402 185.889C72.902 186.053 73.2904 186.149 73.6866 186.174C74.0856 186.174 74.5099 186.174 74.9152 186.174L332.543 186.257H339.281C340.795 186.257 341.574 186.257 341.574 186.257H339.281H332.543L211.291 186.472H74.8899C74.4782 186.472 74.0729 186.472 73.6232 186.472C72.9703 186.435 72.3408 186.215 71.8067 185.837C71.2725 185.46 70.8552 184.939 70.6022 184.336C70.4326 183.934 70.3422 183.503 70.3362 183.068V164.098C70.3362 157.276 70.3362 150.378 70.3362 143.404V100.736C70.3362 86.243 70.3362 71.5047 70.3362 56.5211V16.7503C70.3077 16.2558 70.3547 15.7598 70.4756 15.2794C70.6137 14.7928 70.8606 14.344 71.1976 13.967C71.5269 13.5844 71.9353 13.2779 72.3946 13.0688C72.8539 12.8598 73.3531 12.7531 73.8576 12.7561H341.004C341.365 12.7395 341.728 12.7543 342.087 12.8005C342.819 12.9171 343.494 13.2647 344.015 13.7928C344.536 14.3209 344.874 15.0017 344.981 15.7359C345.016 16.0919 345.028 16.4498 345.019 16.8074V17.8598C345.019 20.6621 345.019 23.4369 345.019 26.1842C345.019 37.1736 345.019 47.7128 345.019 57.8018C345.019 98.0862 344.981 130.712 344.969 153.219C344.969 164.479 344.969 173.228 344.969 179.162C344.969 180.646 344.969 181.952 344.969 183.08C344.942 183.849 344.651 184.585 344.144 185.162C343.637 185.74 342.946 186.125 342.188 186.25C342.046 186.276 341.902 186.291 341.758 186.295L341.548 186.333Z" fill="#263238" />
								<path d="M178.561 196.039L182.589 202.886H239.304L243.047 196.039H178.561Z" fill="#656D71" />
								<path d="M210.329 7.05002C210.329 7.49516 210.197 7.93031 209.95 8.30044C209.703 8.67057 209.352 8.95904 208.941 9.12939C208.53 9.29974 208.078 9.34432 207.642 9.25747C207.206 9.17063 206.805 8.95627 206.491 8.6415C206.176 8.32674 205.962 7.9257 205.875 7.48911C205.788 7.05252 205.833 6.59997 206.003 6.18871C206.173 5.77745 206.462 5.42594 206.831 5.17863C207.201 4.93132 207.636 4.79932 208.08 4.79932C208.677 4.79932 209.249 5.03644 209.67 5.45853C210.092 5.88062 210.329 6.4531 210.329 7.05002Z" fill="#263238" />
								<path d="M334.785 18.4495H81.4453V178.3H334.785V18.4495Z" fill="white" />
								<path d="M335.123 18.356H81.123V49.356H335.123V18.356Z" fill="#E0E0E0" />
								<path d="M199.771 56.3689H174.881C173.538 56.3689 172.449 57.4589 172.449 58.8035V83.7197C172.449 85.0642 173.538 86.1542 174.881 86.1542H199.771C201.114 86.1542 202.203 85.0642 202.203 83.7197V58.8035C202.203 57.4589 201.114 56.3689 199.771 56.3689Z" fill="#EBEBEB" />
								<path d="M206.446 92.7542H168.212C166.722 92.7542 165.514 93.9633 165.514 95.4549V96.7673C165.514 98.2589 166.722 99.4681 168.212 99.4681H206.446C207.936 99.4681 209.144 98.2589 209.144 96.7673V95.4549C209.144 93.9633 207.936 92.7542 206.446 92.7542Z" fill="#EBEBEB" />
								<path d="M200.859 115.305H175.969C174.626 115.305 173.537 116.395 173.537 117.74V142.656C173.537 144.001 174.626 145.091 175.969 145.091H200.859C202.202 145.091 203.291 144.001 203.291 142.656V117.74C203.291 116.395 202.202 115.305 200.859 115.305Z" fill="#EBEBEB" />
								<path d="M207.536 151.691H169.302C167.811 151.691 166.604 152.9 166.604 154.392V155.704C166.604 157.196 167.811 158.405 169.302 158.405H207.536C209.026 158.405 210.234 157.196 210.234 155.704V154.392C210.234 152.9 209.026 151.691 207.536 151.691Z" fill="#EBEBEB" />
								<path d="M279.671 113.752H253.331C252.012 113.752 250.943 114.822 250.943 116.142V118.476C250.943 119.796 252.012 120.866 253.331 120.866H279.671C280.99 120.866 282.059 119.796 282.059 118.476V116.142C282.059 114.822 280.99 113.752 279.671 113.752Z" fill="#E0E0E0" />
								<path d="M279.671 100.235H253.331C252.012 100.235 250.943 101.305 250.943 102.626V104.959C250.943 106.279 252.012 107.349 253.331 107.349H279.671C280.99 107.349 282.059 106.279 282.059 104.959V102.626C282.059 101.305 280.99 100.235 279.671 100.235Z" fill="#E0E0E0" />
								<path d="M275.32 143.17C275.32 144.146 274.586 144.755 273.42 144.755H272.673V145.896H271.457V141.598H273.42C274.586 141.579 275.32 142.187 275.32 143.17ZM274.098 143.17C274.098 142.771 273.845 142.536 273.338 142.536H272.667V143.804H273.338C273.845 143.798 274.098 143.563 274.098 143.17Z" fill="white" />
								<path d="M278.588 145.047H276.77L276.435 145.877H275.168L277.068 141.579H278.265L280.165 145.877H278.898L278.588 145.047ZM278.233 144.146L277.682 142.771L277.131 144.146H278.233Z" fill="white" />
								<path d="M282.553 144.336V145.896H281.337V144.336L279.703 141.597H280.97L281.989 143.303L283.009 141.597H284.187L282.553 144.336Z" fill="white" />
								<path d="M220.848 177.463C220.753 177.463 220.684 145.249 220.684 105.529C220.684 65.8092 220.753 33.5894 220.848 33.5894C220.943 33.5894 221.013 65.7966 221.013 105.529C221.013 145.262 220.956 177.463 220.848 177.463Z" fill="#EBEBEB" />
								<path d="M301.327 100.235H298.787C297.29 100.235 296.076 101.45 296.076 102.949V104.268C296.076 105.766 297.29 106.981 298.787 106.981H301.327C302.824 106.981 304.037 105.766 304.037 104.268V102.949C304.037 101.45 302.824 100.235 301.327 100.235Z" fill="#E0E0E0" />
								<path d="M301.686 114.418H299.146C297.649 114.418 296.436 115.633 296.436 117.131V118.45C296.436 119.949 297.649 121.164 299.146 121.164H301.686C303.183 121.164 304.397 119.949 304.397 118.45V117.131C304.397 115.633 303.183 114.418 301.686 114.418Z" fill="#E0E0E0" />
								<path d="M161.6 27.3381C161.505 27.3381 161.436 24.0159 161.436 19.9266C161.436 15.8373 161.505 12.5215 161.6 12.5215C161.695 12.5215 161.765 15.8373 161.765 19.9266C161.765 24.0159 161.689 27.3381 161.6 27.3381Z" fill="#263238" />
								<path d="M184.469 27.1605C184.381 27.1605 184.305 23.9208 184.305 19.9202C184.305 15.9197 184.381 12.6863 184.469 12.6863C184.558 12.6863 184.634 15.926 184.634 19.9202C184.634 23.9144 184.558 27.1605 184.469 27.1605Z" fill="#263238" />
								<path d="M207.547 26.9007C207.459 26.9007 207.383 23.661 207.383 19.6668C207.383 15.6726 207.459 12.4265 207.547 12.4265C207.636 12.4265 207.718 15.6663 207.718 19.6668C207.718 23.6673 207.655 26.9007 207.547 26.9007Z" fill="#263238" />
								<path d="M230.208 26.6406C230.119 26.6406 230.043 23.515 230.043 19.6666C230.043 15.8182 230.119 12.6926 230.208 12.6926C230.296 12.6926 230.372 15.8119 230.372 19.6666C230.372 23.5213 230.296 26.6406 230.208 26.6406Z" fill="#263238" />
								<path d="M253.325 26.6406C253.236 26.6406 253.16 23.515 253.16 19.6666C253.16 15.8182 253.236 12.6926 253.325 12.6926C253.413 12.6926 253.489 15.8119 253.489 19.6666C253.489 23.5213 253.413 26.6406 253.325 26.6406Z" fill="#263238" />
								<path d="M276.055 26.6406C275.96 26.6406 275.891 23.515 275.891 19.6666C275.891 15.8182 275.96 12.6926 276.055 12.6926C276.15 12.6926 276.22 15.8119 276.22 19.6666C276.22 23.5213 276.15 26.6406 276.055 26.6406Z" fill="#263238" />
								<path d="M299.026 26.6406C298.937 26.6406 298.861 23.515 298.861 19.6666C298.861 15.8182 298.937 12.6926 299.026 12.6926C299.115 12.6926 299.191 15.8119 299.191 19.6666C299.191 23.5213 299.115 26.6406 299.026 26.6406Z" fill="#263238" />
								<path d="M321.997 26.6406C321.902 26.6406 321.832 23.515 321.832 19.6666C321.832 15.8182 321.902 12.6926 321.997 12.6926C322.092 12.6926 322.161 15.8119 322.161 19.6666C322.161 23.5213 322.085 26.6406 321.997 26.6406Z" fill="#263238" />
								<path d="M295.883 55.9209H266.395C265.052 55.9209 263.963 57.0109 263.963 58.3555V87.8745C263.963 89.2191 265.052 90.3091 266.395 90.3091H295.883C297.226 90.3091 298.315 89.2191 298.315 87.8745V58.3555C298.315 57.0109 297.226 55.9209 295.883 55.9209Z" fill="#027F51" />
								<path d="M395.849 199.693C395.849 199.693 393.391 182.771 393.594 172.925C393.797 163.079 393.594 152.003 393.594 152.003H394.721C394.721 152.003 393.955 171.55 394.791 183.336C395.627 195.122 397.825 199.693 397.825 199.693H395.849Z" fill="#263238" />
								<path d="M403.188 132.958C403.009 132.36 402.648 131.833 402.156 131.449C401.434 130.993 400.49 131.183 399.692 131.449C396.266 132.666 393.232 139.057 391.852 142.411L396.393 157.741C404.594 150.146 406.019 140.148 403.188 132.958Z" fill="#455A64" />
								<path d="M401.889 132.077C401.873 132.145 401.85 132.211 401.82 132.273L401.598 132.831C401.402 133.313 401.123 134.017 400.787 134.885C400.116 136.629 399.267 139.064 398.501 141.802C397.735 144.541 397.234 147.071 396.899 148.91C396.734 149.829 396.614 150.571 396.538 151.09L396.443 151.68C396.435 151.752 396.418 151.822 396.392 151.889C396.385 151.82 396.385 151.75 396.392 151.68C396.392 151.522 396.392 151.325 396.449 151.078C396.506 150.558 396.607 149.81 396.753 148.891C397.531 144.083 398.842 139.377 400.661 134.86C401.015 133.991 401.294 133.294 401.535 132.825C401.636 132.603 401.718 132.419 401.788 132.28C401.858 132.14 401.883 132.07 401.889 132.077Z" fill="#263238" />
								<path d="M394.373 161.437C392.306 160.259 390.576 158.568 389.349 156.528C388.122 154.487 387.44 152.165 387.369 149.784C387.204 146.38 388.249 143.045 389.433 139.85C389.504 139.56 389.674 139.304 389.915 139.127C390.108 139.058 390.315 139.038 390.518 139.07C390.72 139.103 390.911 139.185 391.074 139.311C394.171 141.073 396.045 144.44 397.046 147.863C397.761 150.134 398.001 152.527 397.749 154.894C397.358 157.383 396.174 159.678 394.373 161.437Z" fill="#455A64" />
								<path d="M394.373 161.437C394.364 161.37 394.363 161.302 394.373 161.235V160.645C394.373 160.131 394.373 159.377 394.309 158.483C394.187 156.109 393.923 153.744 393.518 151.401C393.043 148.656 392.473 146.196 392.048 144.427C391.839 143.559 391.668 142.842 391.542 142.322L391.415 141.745C391.397 141.679 391.384 141.611 391.377 141.542C391.408 141.605 391.434 141.671 391.453 141.739C391.491 141.885 391.548 142.075 391.618 142.303C391.757 142.798 391.947 143.508 392.175 144.395C392.631 146.164 393.226 148.624 393.701 151.369C394.112 153.719 394.359 156.093 394.442 158.477C394.442 159.39 394.442 160.131 394.442 160.645C394.442 160.886 394.442 161.076 394.442 161.235C394.426 161.304 394.404 161.372 394.373 161.437Z" fill="#263238" />
								<path d="M394.373 161.437C392.306 160.259 390.576 158.568 389.349 156.528C388.122 154.487 387.44 152.165 387.369 149.784C387.204 146.38 388.249 143.045 389.433 139.85C389.504 139.56 389.674 139.304 389.915 139.127C390.108 139.058 390.315 139.038 390.518 139.07C390.72 139.103 390.911 139.185 391.074 139.311C394.171 141.073 396.045 144.44 397.046 147.863C397.761 150.134 398.001 152.527 397.749 154.894C397.358 157.383 396.174 159.678 394.373 161.437Z" fill="black" />
								<path d="M399.18 187.33C403.372 188.249 406.824 191.21 410.871 192.649C413.544 193.6 416.571 193.917 418.712 195.819C418.199 194.551 416.983 193.657 415.798 192.922C412.469 190.836 408.915 189.135 405.203 187.85C403.303 187.216 401.238 186.645 399.3 187.184" fill="#455A64" />
								<path d="M393.12 191.071C387.869 190.982 382.353 186.506 377.115 186.24C382.581 184.471 390.415 185.916 393.12 191.071Z" fill="#455A64" />
								<path d="M395.17 178.46C397.876 177.571 400.761 177.375 403.562 177.89C406.351 178.399 409.093 179.144 411.757 180.115C411.491 178.296 410.016 176.945 408.629 175.709C407.614 174.761 406.511 173.911 405.335 173.173C404.154 172.431 402.784 172.044 401.39 172.057C400.554 172.111 399.739 172.334 398.991 172.711C398.244 173.087 397.58 173.611 397.039 174.251C395.966 175.408 395.299 176.883 395.139 178.454" fill="#455A64" />
								<path d="M384.391 172.653C381.092 169.832 376.082 170.117 371.725 170.206C378.708 173.534 385.294 177.641 391.358 182.448C391.542 179.373 388.571 176.222 384.391 172.653Z" fill="#455A64" />
								<path d="M384.391 172.653C381.092 169.832 376.082 170.117 371.725 170.206C378.708 173.534 385.294 177.641 391.358 182.448C391.542 179.373 388.571 176.222 384.391 172.653Z" fill="black" />
								<path d="M396.659 168.754C398.267 167.636 399.962 166.648 401.726 165.799C403.468 165.007 405.089 163.745 406.793 162.838C408.971 161.653 410.859 160.011 412.854 158.553C414.849 157.094 417.053 155.763 419.497 155.383C417.484 155.022 415.414 155.142 413.455 155.731C411.5 156.321 409.594 157.063 407.755 157.95C405.178 159.11 402.556 160.302 400.447 162.192C398.338 164.081 396.438 165.939 396.647 168.76" fill="#455A64" />
								<path d="M410.776 191.07L410.605 190.994L410.15 190.76C409.757 190.551 409.187 190.234 408.471 189.879C408.116 189.688 407.724 189.492 407.299 189.295C406.875 189.099 406.419 188.877 405.938 188.661C404.893 188.193 403.811 187.815 402.701 187.533C401.604 187.228 400.449 187.2 399.339 187.45C398.851 187.554 398.372 187.696 397.907 187.875C397.507 188.039 397.122 188.237 396.754 188.465C396.224 188.801 395.739 189.204 395.31 189.663C395.006 189.993 394.854 190.189 394.842 190.183L394.937 190.024C395.006 189.929 395.108 189.79 395.253 189.619C395.667 189.129 396.149 188.702 396.685 188.351C397.054 188.106 397.444 187.894 397.85 187.717C398.319 187.53 398.802 187.379 399.294 187.266C400.433 187.002 401.619 187.026 402.746 187.336C403.865 187.622 404.957 188.008 406.007 188.49C406.495 188.706 406.951 188.921 407.369 189.124C407.787 189.327 408.186 189.53 408.534 189.726C409.244 190.1 409.801 190.43 410.188 190.665L410.624 190.931C410.681 190.97 410.732 191.017 410.776 191.07Z" fill="#263238" />
								<path d="M389.205 188.465C389.319 188.479 389.431 188.511 389.535 188.56C389.828 188.666 390.113 188.791 390.39 188.934C391.316 189.399 392.169 189.997 392.923 190.709C393.673 191.424 394.313 192.247 394.823 193.15C394.977 193.421 395.113 193.703 395.228 193.993C395.281 194.095 395.319 194.204 395.342 194.317C395.342 194.317 395.114 193.886 394.709 193.22C393.654 191.474 392.161 190.036 390.377 189.048C389.642 188.674 389.193 188.497 389.205 188.465Z" fill="#263238" />
								<path d="M377.582 172.393C377.661 172.403 377.738 172.424 377.81 172.456L378.443 172.684L379.438 173.052C379.824 173.192 380.248 173.407 380.704 173.616C383.172 174.753 385.475 176.218 387.551 177.972C388.675 178.946 389.733 179.995 390.717 181.11C391.524 182.027 392.281 182.985 392.985 183.982C393.58 184.832 394.036 185.542 394.346 186.03C394.498 186.258 394.612 186.449 394.707 186.594C394.755 186.656 394.794 186.724 394.821 186.797L394.676 186.613C394.587 186.493 394.454 186.309 394.289 186.068C393.954 185.593 393.485 184.895 392.877 184.058C392.269 183.222 391.496 182.252 390.591 181.224C389.601 180.122 388.543 179.082 387.424 178.111C385.358 176.373 383.081 174.903 380.647 173.737C380.179 173.521 379.761 173.299 379.381 173.147L378.399 172.748L377.766 172.494L377.582 172.393Z" fill="#263238" />
								<path d="M403.049 175.506C402.908 175.504 402.767 175.485 402.631 175.449L402.15 175.36C401.96 175.322 401.738 175.322 401.516 175.297C400.27 175.191 399.019 175.44 397.906 176.013C397.299 176.329 396.745 176.74 396.266 177.23C395.866 177.625 395.511 178.063 395.208 178.536C394.936 178.98 394.695 179.442 394.486 179.918C394.505 179.777 394.541 179.639 394.594 179.506C394.728 179.145 394.895 178.797 395.094 178.467C395.388 177.975 395.739 177.519 396.139 177.11C396.826 176.39 397.67 175.84 398.605 175.503C399.541 175.166 400.542 175.052 401.529 175.17C401.77 175.201 401.991 175.214 402.162 175.258L402.644 175.379C402.783 175.406 402.919 175.448 403.049 175.506Z" fill="#263238" />
								<path d="M408.324 159.117C408.266 159.167 408.199 159.208 408.128 159.237L407.539 159.561C407.032 159.833 406.272 160.239 405.404 160.765C404.537 161.292 403.504 161.951 402.364 162.743C401.153 163.592 400.017 164.545 398.97 165.59C398.431 166.127 397.965 166.732 397.583 167.391C397.234 168.056 396.905 168.69 396.607 169.293C396.064 170.377 395.576 171.488 395.144 172.621C394.862 173.386 394.625 174.167 394.435 174.961C394.302 175.519 394.251 175.842 394.239 175.836C394.23 175.758 394.23 175.679 394.239 175.601C394.239 175.449 394.289 175.227 394.346 174.967C394.504 174.163 394.715 173.371 394.98 172.596C395.391 171.452 395.867 170.332 396.405 169.242C396.702 168.608 397.038 167.974 397.374 167.34C397.76 166.663 398.238 166.042 398.792 165.495C399.845 164.439 400.992 163.482 402.219 162.636C403.346 161.843 404.397 161.203 405.297 160.683C406.196 160.163 406.943 159.783 407.463 159.523L408.096 159.237L408.324 159.117Z" fill="#263238" />
								<path d="M393.6 175.03C393.554 174.885 393.52 174.737 393.499 174.586C393.435 174.263 393.359 173.857 393.271 173.375C393.017 172.043 392.685 170.726 392.276 169.432C391.853 168.135 391.351 166.865 390.775 165.628C390.573 165.18 390.402 164.806 390.262 164.506C390.193 164.37 390.138 164.228 390.098 164.081C390.191 164.202 390.27 164.334 390.332 164.474C390.471 164.728 390.668 165.108 390.896 165.571C391.509 166.798 392.03 168.07 392.454 169.375C392.87 170.674 393.185 172.003 393.397 173.35C393.48 173.864 393.543 174.288 393.568 174.58C393.599 174.728 393.609 174.879 393.6 175.03Z" fill="#263238" />
								<path d="M393.22 163.073C393.059 161.082 392.478 159.148 391.516 157.399C390.223 154.991 388.419 152.896 386.231 151.261C384.042 149.626 381.523 148.49 378.85 147.933L390.592 165.451L392.112 168.576C393.058 166.907 393.447 164.979 393.22 163.073Z" fill="#455A64" />
								<path d="M410.067 197.601H382.764V202.444H410.067V197.601Z" fill="#027F51" />
								<path d="M384.803 201.481L387.127 216.513H405.253L408.027 201.481H384.803Z" fill="#027F51" />
								<path d="M410.055 202.451C410.055 202.502 403.893 202.546 396.299 202.546C388.705 202.546 382.543 202.502 382.543 202.451C382.543 202.4 388.699 202.356 396.299 202.356C403.899 202.356 410.055 202.4 410.055 202.451Z" fill="#263238" />
								<path d="M94.8691 14H117.739V27.0794C117.73 29.5171 116.757 31.8521 115.032 33.5728C113.307 35.2935 110.972 36.2597 108.536 36.2597H104.103C101.663 36.2597 99.3219 35.2892 97.5961 33.5616C95.8703 31.834 94.9008 29.4909 94.9008 27.0477V14H94.8691Z" fill="#027F51" />
								<path d="M140.615 14H163.599V27.0794C163.591 29.5182 162.616 31.8541 160.89 33.5751C159.164 35.296 156.826 36.2614 154.39 36.2597H149.818C147.381 36.2598 145.045 35.2927 143.319 33.5706C141.594 31.8485 140.622 29.5119 140.615 27.0731V14Z" fill="#027F51" />
								<path d="M186.461 14H209.331V27.0794C209.322 29.5138 208.352 31.8459 206.631 33.5661C204.91 35.2863 202.579 36.2547 200.147 36.2597H195.714C193.273 36.2597 190.933 35.2892 189.207 33.5616C187.481 31.834 186.512 29.4909 186.512 27.0477V14H186.461Z" fill="#027F51" />
								<path d="M232.201 14H255.451V27.0794C255.442 29.5171 254.469 31.8521 252.744 33.5728C251.02 35.2935 248.684 36.2597 246.249 36.2597H241.404C238.963 36.2597 236.622 35.2892 234.896 33.5616C233.171 31.834 232.201 29.4909 232.201 27.0477V14Z" fill="#027F51" />
								<path d="M278.049 14H300.918V27.0794C300.91 29.516 299.938 31.85 298.214 33.5706C296.491 35.2911 294.157 36.2581 291.722 36.2597H287.289C286.08 36.2647 284.881 36.031 283.762 35.5719C282.643 35.1128 281.625 34.4373 280.767 33.584C279.908 32.7308 279.227 31.7166 278.76 30.5994C278.294 29.4822 278.052 28.2839 278.049 27.0731V14Z" fill="#027F51" />
								<path d="M323.793 14H346.663V27.0794C346.654 29.5171 345.681 31.8521 343.956 33.5728C342.231 35.2935 339.895 36.2597 337.46 36.2597H333.027C330.586 36.2597 328.246 35.2892 326.52 33.5616C324.794 31.834 323.825 29.4909 323.825 27.0477V14H323.793Z" fill="#027F51" />
								<path d="M72 14H94.8691L94.8697 27.0794C94.8613 29.5171 93.8881 31.8521 92.1632 33.5728C90.4383 35.2935 88.1025 36.2597 85.6673 36.2597H81.234C78.7934 36.2597 76.4527 35.2892 74.727 33.5616C73.0012 31.834 72.0317 29.4909 72.0317 27.0477V14H72Z" fill="#027F51" />
								<path d="M117.739 14H140.615L140.614 27.0794C140.606 29.5182 139.632 31.8541 137.906 33.5751C136.179 35.296 133.842 36.2614 131.406 36.2597H126.972C124.532 36.2597 122.191 35.2892 120.465 33.5616C118.739 31.834 117.77 29.4909 117.77 27.0477V14H117.739Z" fill="#027F51" />
								<path d="M163.592 14H186.461L186.461 27.0794C186.453 29.5171 185.48 31.8521 183.755 33.5728C182.03 35.2935 179.694 36.2597 177.259 36.2597H172.826C170.385 36.2597 168.045 35.2892 166.319 33.5616C164.593 31.834 163.623 29.4909 163.623 27.0477V14H163.592Z" fill="#027F51" />
								<path d="M209.332 14H232.201L232.202 27.0794C232.193 29.5171 231.22 31.8521 229.495 33.5728C227.77 35.2935 225.434 36.2597 222.999 36.2597H218.566C216.125 36.2597 213.785 35.2892 212.059 33.5616C210.333 31.834 209.364 29.4909 209.364 27.0477V14H209.332Z" fill="#027F51" />
								<path d="M255.184 14H278.047V27.0794C278.039 29.5171 277.065 31.8521 275.34 33.5728C273.616 35.2935 271.28 36.2597 268.845 36.2597H264.411C261.971 36.2597 259.63 35.2892 257.904 33.5616C256.178 31.834 255.209 29.4909 255.209 27.0477V14H255.184Z" fill="#027F51" />
								<path d="M300.924 14H323.793L323.793 27.0794C323.785 29.5171 322.812 31.8521 321.087 33.5728C319.362 35.2935 317.026 36.2597 314.591 36.2597H310.158C307.717 36.2597 305.377 35.2892 303.651 33.5616C301.925 31.834 300.956 29.4909 300.956 27.0477V14H300.924Z" fill="#027F51" />
								<path d="M94.8691 14H117.739V27.0794C117.73 29.5171 116.757 31.8521 115.032 33.5728C113.307 35.2935 110.972 36.2597 108.536 36.2597H104.103C101.663 36.2597 99.3219 35.2892 97.5961 33.5616C95.8703 31.834 94.9008 29.4909 94.9008 27.0477V14H94.8691Z" fill="#4DA585" />
								<path d="M140.615 14H163.599V27.0794C163.591 29.5182 162.616 31.8541 160.89 33.5751C159.164 35.296 156.826 36.2614 154.39 36.2597H149.818C147.381 36.2598 145.045 35.2927 143.319 33.5706C141.594 31.8485 140.622 29.5119 140.615 27.0731V14Z" fill="#4DA585" />
								<path d="M186.461 14H209.331V27.0794C209.322 29.5138 208.352 31.8459 206.631 33.5661C204.91 35.2863 202.579 36.2547 200.147 36.2597H195.714C193.273 36.2597 190.933 35.2892 189.207 33.5616C187.481 31.834 186.512 29.4909 186.512 27.0477V14H186.461Z" fill="#4DA585" />
								<path d="M232.201 14H255.451V27.0794C255.442 29.5171 254.469 31.8521 252.744 33.5728C251.02 35.2935 248.684 36.2597 246.249 36.2597H241.404C238.963 36.2597 236.622 35.2892 234.896 33.5616C233.171 31.834 232.201 29.4909 232.201 27.0477V14Z" fill="#4DA585" />
								<path d="M278.049 14H300.918V27.0794C300.91 29.516 299.938 31.85 298.214 33.5706C296.491 35.2911 294.157 36.2581 291.722 36.2597H287.289C286.08 36.2647 284.881 36.031 283.762 35.5719C282.643 35.1128 281.625 34.4373 280.767 33.584C279.908 32.7308 279.227 31.7166 278.76 30.5994C278.294 29.4822 278.052 28.2839 278.049 27.0731V14Z" fill="#4DA585" />
								<path d="M323.793 14H346.663V27.0794C346.654 29.5171 345.681 31.8521 343.956 33.5728C342.231 35.2935 339.895 36.2597 337.46 36.2597H333.027C330.586 36.2597 328.246 35.2892 326.52 33.5616C324.794 31.834 323.825 29.4909 323.825 27.0477V14H323.793Z" fill="#4DA585" />
								<path d="M181.009 63.2562C180.641 60.6677 180.497 58.0522 180.579 55.4389C180.665 52.8216 181.399 50.2665 182.713 48.0021C182.922 47.6661 184.569 45.4661 184.949 45.5739C185.221 45.6563 184.049 47.7929 184.138 48.0592C184.926 50.6651 184.902 53.4495 184.068 56.0412C183.32 58.5607 182.294 60.9891 181.009 63.2815" fill="#263238" />
								<path d="M178.287 76.3799L182.72 53.4291C183.81 46.9623 188.471 42.2136 194.899 43.4816L195.488 43.6338C198.337 44.3708 200.803 46.1546 202.397 48.6301C203.991 51.1055 204.595 54.091 204.089 56.9922C203.114 62.5904 201.967 68.7592 201.169 71.6946C199.516 77.762 193.183 77.1661 193.183 77.1661C193.183 77.1661 191.644 84.045 191.283 85.8519L182.315 82.7199L180.149 82.0352L178.287 76.3799Z" fill="#FFBF9D" />
								<path d="M193.183 77.1661C190.378 76.4149 187.845 74.8747 185.887 72.728C185.887 72.728 186.615 77.8 192.853 78.8208L193.183 77.1661Z" fill="#FF9A6C" />
								<path d="M201.149 62.6411C201.088 62.8639 200.943 63.0544 200.744 63.1726C200.546 63.2908 200.31 63.3276 200.085 63.2751C199.972 63.2561 199.864 63.2145 199.767 63.1528C199.67 63.0911 199.587 63.0105 199.522 62.9158C199.457 62.8212 199.411 62.7144 199.388 62.6018C199.365 62.4893 199.365 62.3732 199.388 62.2607C199.451 62.0387 199.596 61.8491 199.794 61.7312C199.992 61.6132 200.227 61.5758 200.452 61.6267C200.565 61.6456 200.674 61.6872 200.77 61.7489C200.867 61.8107 200.95 61.8913 201.016 61.9859C201.081 62.0806 201.126 62.1874 201.149 62.2999C201.172 62.4125 201.172 62.5285 201.149 62.6411Z" fill="#263238" />
								<path d="M202.111 59.3444C201.978 59.4268 201.446 58.7738 200.509 58.5328C199.572 58.2919 198.767 58.5836 198.698 58.4441C198.628 58.3046 198.824 58.2032 199.179 58.0637C199.656 57.888 200.176 57.8637 200.667 57.9939C201.162 58.1144 201.606 58.3898 201.934 58.7801C202.137 59.0781 202.181 59.3063 202.111 59.3444Z" fill="#263238" />
								<path d="M192.784 60.7646C192.721 60.9879 192.575 61.1785 192.376 61.2966C192.176 61.4147 191.939 61.4513 191.713 61.3986C191.601 61.3789 191.493 61.3367 191.397 61.2747C191.301 61.2126 191.219 61.1319 191.154 61.0374C191.09 60.9428 191.045 60.8363 191.023 60.7241C191 60.6119 191 60.4963 191.023 60.3842C191.084 60.1613 191.229 59.9708 191.428 59.8526C191.626 59.7344 191.862 59.6977 192.087 59.7502C192.2 59.7692 192.309 59.8107 192.405 59.8725C192.502 59.9342 192.585 60.0148 192.65 60.1094C192.715 60.2041 192.761 60.3109 192.784 60.4234C192.807 60.536 192.807 60.652 192.784 60.7646Z" fill="#263238" />
								<path d="M193.063 57.3979C192.924 57.4804 192.391 56.821 191.454 56.5864C190.517 56.3518 189.713 56.6371 189.643 56.4913C189.573 56.3455 189.77 56.2567 190.124 56.1109C190.602 55.9349 191.122 55.9127 191.613 56.0475C192.108 56.1663 192.552 56.442 192.879 56.8337C193.082 57.1253 193.126 57.3599 193.063 57.3979Z" fill="#263238" />
								<path d="M194.393 65.2469C194.925 65.2252 195.459 65.2657 195.982 65.3673C196.223 65.4053 196.464 65.418 196.546 65.2659C196.622 65.0202 196.622 64.7571 196.546 64.5114C196.47 63.8774 196.394 63.2434 196.312 62.508C195.995 59.6677 195.837 57.3536 195.951 57.3409C196.065 57.3282 196.413 59.6233 196.723 62.4699C196.793 63.1673 196.863 63.8394 196.926 64.4734C197.001 64.8008 196.959 65.1443 196.806 65.4434C196.751 65.5197 196.678 65.5819 196.595 65.6249C196.511 65.6679 196.418 65.6904 196.324 65.6907C196.183 65.6972 196.043 65.6822 195.906 65.6463C195.387 65.5792 194.878 65.4449 194.393 65.2469Z" fill="#263238" />
								<path d="M182.06 58.0699C181.971 57.9939 178.203 55.7495 177.259 59.9719C176.316 64.1944 180.724 64.2514 180.755 64.131C180.787 64.0105 182.06 58.0699 182.06 58.0699Z" fill="#FFBF9D" />
								<path d="M179.831 62.2291C179.831 62.2291 179.748 62.2607 179.609 62.2924C179.419 62.3267 179.224 62.2858 179.064 62.1783C178.831 61.9471 178.664 61.6576 178.58 61.3398C178.497 61.022 178.5 60.6876 178.589 60.3714C178.66 60.0083 178.811 59.6659 179.033 59.3697C179.1 59.2475 179.197 59.1437 179.314 59.0674C179.431 58.9912 179.565 58.9448 179.704 58.9323C179.793 58.9274 179.881 58.9548 179.952 59.0094C180.023 59.0641 180.072 59.1425 180.09 59.2302C180.122 59.357 180.09 59.4331 180.09 59.4458C180.09 59.4585 180.198 59.3951 180.198 59.2176C180.201 59.1093 180.165 59.0037 180.097 58.9196C180.002 58.8043 179.865 58.7313 179.717 58.7167C179.536 58.7118 179.357 58.7536 179.198 58.838C179.038 58.9224 178.902 59.0466 178.805 59.1985C178.544 59.5201 178.368 59.9014 178.292 60.308C178.182 60.6747 178.184 61.0657 178.297 61.4313C178.41 61.797 178.628 62.121 178.925 62.3622C179.029 62.4222 179.146 62.457 179.266 62.4636C179.386 62.4702 179.505 62.4485 179.615 62.4002C179.799 62.3305 179.843 62.2417 179.831 62.2291Z" fill="#FF9A6C" />
								<path d="M202.884 49.4349C203.644 49.2067 202.08 46.5629 200.573 45.4407C198.293 43.7479 194.588 42.2136 192.118 42.3721C189.141 42.5623 186.513 43.4563 184.556 45.707C182.639 48.0148 181.372 50.7917 180.882 53.7524C180.652 54.6376 180.665 55.5686 180.92 56.4469C181.307 57.5057 182.307 58.3489 181.978 59.6169C181.911 59.8466 181.892 60.0873 181.92 60.3248C181.948 60.5622 182.024 60.7915 182.143 60.9991C182.732 61.9818 183.84 61.4175 184.435 60.7391C185.702 59.2873 186.24 57.3472 186.728 55.4769C187.148 54.1663 187.349 52.7954 187.323 51.4193C187.273 50.6712 187.083 49.9358 187.07 49.194C187.041 48.8199 187.092 48.444 187.221 48.0917C187.35 47.7394 187.554 47.4191 187.817 47.1525C187.949 47.0518 188.089 46.9627 188.235 46.8862C188.931 46.4995 189.718 46.3057 190.514 46.3246C191.31 46.3436 192.087 46.5746 192.764 46.994C194.949 48.3444 198.717 50.462 199.946 49.8914C200.807 49.5544 201.588 49.0404 202.238 48.3825L202.884 49.4349Z" fill="#263238" />
								<path d="M191.282 65.1962C191.428 65.1962 191.225 66.1853 191.916 67.0475C192.606 67.9097 193.651 68.0175 193.632 68.1507C193.613 68.2838 193.36 68.2902 192.923 68.2141C192.356 68.103 191.847 67.7954 191.485 67.3455C191.135 66.9125 190.967 66.3599 191.016 65.8049C191.08 65.3928 191.238 65.1772 191.282 65.1962Z" fill="#263238" />
								<path d="M201.807 116.398L217.679 122.878L215.728 130.327L199.42 126.973C197.694 126.77 196.054 126.109 194.67 125.057C193.286 124.006 192.208 122.603 191.547 120.995L185.93 107.345L194.923 98.7856L201.807 116.398Z" fill="#FFBF9D" />
								<path d="M217.363 132.02C218.997 132.654 220.802 133.383 220.802 133.383L222.436 133.966C222.363 134.055 222.282 134.137 222.196 134.213C222.018 134.345 221.876 134.52 221.784 134.721C221.747 134.928 221.775 135.141 221.862 135.332C221.949 135.523 222.092 135.684 222.272 135.792C222.613 136.055 223.017 136.223 223.444 136.28C223.871 136.338 224.305 136.282 224.703 136.118C225.102 135.954 225.45 135.688 225.713 135.348C225.977 135.007 226.146 134.602 226.205 134.175C226.387 134.018 226.539 133.829 226.654 133.617C227.427 132.185 226.312 130.092 226.312 130.092L226.914 130.213C226.914 130.213 228.478 131.291 228.01 134.416C227.938 134.885 228.037 135.364 228.288 135.767C228.361 135.893 228.461 136.001 228.58 136.084C228.699 136.168 228.835 136.224 228.979 136.248C229.739 136.344 229.998 135.83 230.315 133.884C230.632 131.937 230.315 129.947 229.371 128.996C228.954 128.542 228.505 128.118 228.029 127.728C228.029 127.728 233.507 128.526 233.855 128.564C234.869 128.672 235.755 128.311 235.888 127.645C235.971 127.214 235.762 126.612 234.59 126.453C233.577 126.314 223.367 123.575 223.367 123.575L218.782 122.624L214.868 122.459L213.449 128.393L214.57 129.604C215.189 130.713 216.178 131.568 217.363 132.02Z" fill="#FFBF9D" />
								<path d="M219.042 123.581C218.962 123.872 218.975 124.181 219.08 124.464C219.184 124.747 219.375 124.991 219.624 125.16C220.093 125.54 220.676 125.756 221.17 126.098C222.645 127.132 223.146 129.211 224.672 130.175C224.887 130.308 225.191 130.409 225.362 130.232C225.533 130.054 225.451 129.788 225.362 129.598C224.628 127.747 223.897 125.893 223.171 124.038" fill="#FFBF9D" />
								<path d="M223.177 124.012C223.3 124.191 223.4 124.385 223.475 124.589C223.646 124.97 223.88 125.521 224.172 126.212L225.16 128.628L225.445 129.332C225.599 129.598 225.647 129.913 225.578 130.213C225.534 130.304 225.464 130.379 225.377 130.43C225.29 130.481 225.19 130.505 225.09 130.498C224.924 130.483 224.764 130.431 224.621 130.346C224.373 130.186 224.142 130.001 223.931 129.795C223.237 128.972 222.602 128.101 222.031 127.189C221.766 126.822 221.448 126.498 221.087 126.225C220.745 125.978 220.378 125.8 220.055 125.591C219.777 125.458 219.532 125.266 219.336 125.029C219.141 124.791 218.999 124.513 218.921 124.215C218.845 123.772 219.023 123.581 219.029 123.581C218.99 123.791 218.99 124.006 219.029 124.215C219.124 124.481 219.273 124.724 219.466 124.93C219.659 125.136 219.891 125.301 220.15 125.414C220.473 125.591 220.847 125.756 221.227 126.01C221.639 126.28 222.007 126.614 222.316 126.999C222.9 127.88 223.534 128.727 224.216 129.535C224.407 129.725 224.62 129.893 224.849 130.035C225.065 130.162 225.293 130.181 225.331 130.035C225.369 129.89 225.293 129.649 225.198 129.401L224.925 128.698C224.59 127.797 224.292 126.98 224.001 126.25C223.709 125.521 223.538 124.982 223.405 124.596C223.302 124.413 223.225 124.217 223.177 124.012Z" fill="#FF9A6C" />
								<path d="M226.293 130.01C226.662 130.103 227.005 130.276 227.3 130.517C227.596 130.799 227.796 131.167 227.87 131.57C227.947 132.07 227.947 132.578 227.87 133.079C227.796 133.597 227.775 134.122 227.807 134.645C227.838 135.087 227.984 135.513 228.231 135.881C228.318 136.006 228.433 136.109 228.568 136.182C228.702 136.255 228.851 136.295 229.004 136.299C229.113 136.312 229.224 136.29 229.32 136.236C229.217 136.229 229.113 136.229 229.01 136.236C228.881 136.213 228.758 136.163 228.649 136.09C228.54 136.017 228.447 135.922 228.377 135.811C228.169 135.458 228.049 135.06 228.028 134.651C228.011 134.14 228.038 133.629 228.111 133.123C228.182 132.598 228.167 132.064 228.066 131.544C227.972 131.103 227.731 130.707 227.382 130.422C227.154 130.231 226.882 130.1 226.591 130.042C226.495 130.007 226.393 129.997 226.293 130.01Z" fill="#FF9A6C" />
								<path d="M234.248 128.603C233.891 128.512 233.526 128.455 233.158 128.431L230.53 128.102L227.908 127.728C227.548 127.65 227.181 127.608 226.812 127.601C227.157 127.73 227.513 127.824 227.876 127.88C228.548 128.019 229.472 128.178 230.505 128.317C231.537 128.457 232.468 128.545 233.146 128.59C233.512 128.633 233.881 128.638 234.248 128.603Z" fill="#FF9A6C" />
								<path d="M224.894 131.056C224.91 131.171 224.937 131.283 224.976 131.392C225.026 131.531 225.045 131.678 225.033 131.825C225.021 131.971 224.978 132.113 224.906 132.242C224.852 132.318 224.777 132.378 224.692 132.416C224.606 132.454 224.512 132.468 224.419 132.457C224.179 132.439 223.943 132.39 223.716 132.311C223.434 132.204 223.123 132.204 222.842 132.311C222.695 132.387 222.57 132.497 222.475 132.632C222.38 132.766 222.319 132.922 222.297 133.085C222.276 133.247 222.288 133.411 222.333 133.568C222.378 133.725 222.454 133.871 222.557 133.998C222.739 134.232 222.986 134.408 223.266 134.505C223.723 134.633 224.197 134.69 224.672 134.676C224.993 134.679 225.312 134.628 225.616 134.524C225.728 134.491 225.829 134.427 225.907 134.34C225.907 134.34 225.793 134.385 225.584 134.442C225.285 134.513 224.978 134.541 224.672 134.524C224.217 134.513 223.766 134.442 223.329 134.315C223.081 134.233 222.867 134.072 222.72 133.857C222.572 133.642 222.499 133.384 222.512 133.123C222.528 132.991 222.574 132.865 222.648 132.755C222.722 132.645 222.821 132.553 222.937 132.489C223.172 132.403 223.43 132.403 223.665 132.489C223.909 132.568 224.162 132.612 224.419 132.622C224.543 132.63 224.667 132.605 224.778 132.549C224.889 132.494 224.984 132.409 225.052 132.305C225.128 132.157 225.167 131.993 225.167 131.826C225.167 131.66 225.128 131.496 225.052 131.348C224.976 131.183 224.906 131.056 224.894 131.056Z" fill="#FF9A6C" />
								<path d="M222.733 133.966C222.733 133.966 222.626 133.909 222.423 133.966C222.282 134.004 222.151 134.074 222.041 134.171C221.931 134.268 221.845 134.389 221.79 134.524C221.709 134.736 221.687 134.965 221.725 135.188C221.763 135.411 221.86 135.619 222.005 135.792C222.351 136.207 222.843 136.47 223.379 136.528C223.901 136.599 224.433 136.506 224.899 136.261C225.278 136.059 225.593 135.756 225.811 135.386C225.963 135.147 226.067 134.88 226.115 134.6C226.115 134.397 226.115 134.29 226.115 134.29C226.019 134.647 225.872 134.988 225.678 135.304C225.457 135.631 225.156 135.898 224.804 136.078C224.37 136.296 223.88 136.378 223.398 136.312C222.91 136.272 222.457 136.045 222.132 135.678C222.005 135.534 221.918 135.36 221.878 135.172C221.838 134.985 221.847 134.79 221.904 134.607C221.948 134.485 222.018 134.375 222.109 134.283C222.199 134.191 222.309 134.12 222.429 134.074C222.619 133.973 222.733 133.985 222.733 133.966Z" fill="#FF9A6C" />
								<path d="M219.554 129.68C219.554 129.68 219.643 129.497 219.618 129.161C219.585 128.688 219.393 128.241 219.073 127.893L218.997 128.07C219.246 128.089 219.496 128.089 219.744 128.07C220.614 128.03 221.456 127.749 222.176 127.259C221.382 127.541 220.561 127.741 219.725 127.855C219.472 127.855 219.225 127.855 219.003 127.855H218.75L218.921 128.032C219.212 128.34 219.407 128.725 219.485 129.142C219.548 129.484 219.529 129.68 219.554 129.68Z" fill="#FF9A6C" />
								<path d="M228.878 131.056C228.878 130.999 228.441 131.158 228.175 131.614C227.909 132.07 227.959 132.508 228.016 132.502C228.073 132.495 228.118 132.115 228.358 131.728C228.599 131.341 228.909 131.132 228.878 131.056Z" fill="#FF9A6C" />
								<path d="M192.866 87.1263C192.866 87.1263 192.011 81.7627 192.087 82.1304C192.473 83.9626 195.159 86.6762 195.811 92.6358C196.064 94.9625 200.2 110.121 200.2 110.121L188.749 115.447L188.027 102.596L192.866 87.1263Z" fill="#027F51" />
								<path d="M273.919 167.828C273.632 166.488 273.208 165.181 272.652 163.929C272.064 162.623 271.232 161.442 270.201 160.448C269.635 159.861 268.947 159.406 268.186 159.115C267.425 158.824 266.609 158.705 265.796 158.766C264.984 158.826 264.194 159.065 263.484 159.465C262.775 159.866 262.162 160.418 261.689 161.082C260.815 162.215 260.169 163.507 259.789 164.886C259.424 166.205 259.201 167.559 259.124 168.925C259.11 168.828 259.11 168.73 259.124 168.633C259.124 168.443 259.124 168.164 259.124 167.803C259.177 166.79 259.34 165.787 259.612 164.81C259.98 163.389 260.625 162.055 261.512 160.886C262.002 160.19 262.641 159.612 263.382 159.194C264.122 158.776 264.947 158.527 265.795 158.467C266.643 158.406 267.494 158.535 268.287 158.843C269.08 159.152 269.794 159.633 270.378 160.252C271.426 161.282 272.263 162.508 272.842 163.859C273.252 164.787 273.56 165.756 273.76 166.75C273.83 167.105 273.868 167.384 273.887 167.568C273.905 167.654 273.916 167.741 273.919 167.828Z" fill="#263238" />
								<path d="M276.471 167.613C276.185 166.273 275.761 164.966 275.205 163.714C274.619 162.406 273.786 161.225 272.754 160.233C272.188 159.645 271.501 159.189 270.739 158.897C269.978 158.606 269.162 158.486 268.349 158.547C267.536 158.607 266.746 158.847 266.036 159.248C265.326 159.649 264.714 160.202 264.242 160.867C263.369 162 262.724 163.292 262.342 164.671C261.981 165.988 261.758 167.34 261.677 168.703C261.66 168.609 261.66 168.512 261.677 168.418C261.661 168.141 261.661 167.864 261.677 167.587C261.732 166.575 261.896 165.572 262.164 164.595C262.532 163.174 263.178 161.84 264.064 160.67C264.555 159.975 265.193 159.397 265.934 158.979C266.675 158.56 267.499 158.312 268.348 158.251C269.196 158.191 270.047 158.319 270.84 158.628C271.632 158.937 272.347 159.418 272.931 160.036C273.98 161.065 274.818 162.291 275.395 163.644C275.805 164.571 276.113 165.541 276.313 166.535C276.385 166.89 276.429 167.162 276.446 167.353C276.461 167.439 276.47 167.525 276.471 167.613Z" fill="#263238" />
								<path d="M250.409 167.835L279.238 165.47L282.551 201.246L250.188 203.681L250.409 167.835Z" fill="#027F51" />
								<path d="M279.24 165.47L282.863 165.197L288.658 200.79L282.553 201.246L279.24 165.47Z" fill="#027F51" />
								<path d="M279.24 165.47L282.863 165.197L288.658 200.79L282.553 201.246L279.24 165.47Z" fill="black" />
								<path d="M275.247 177.991L256.363 179.409L256.635 183.031L275.518 181.613L275.247 177.991Z" fill="#4DA585" />
								<path d="M237.103 146.684C236.949 145.523 236.678 144.38 236.292 143.273C235.863 142.118 235.218 141.055 234.392 140.141C233.947 139.604 233.388 139.172 232.756 138.875C232.125 138.578 231.436 138.424 230.738 138.424C230.04 138.424 229.351 138.578 228.72 138.875C228.088 139.172 227.529 139.604 227.084 140.141C226.253 141.047 225.607 142.107 225.184 143.261C224.792 144.364 224.514 145.505 224.354 146.665C224.346 146.583 224.346 146.5 224.354 146.418C224.354 146.26 224.354 146.019 224.417 145.714C224.535 144.848 224.747 143.998 225.051 143.178C225.464 141.987 226.11 140.89 226.951 139.951C227.412 139.389 227.992 138.935 228.649 138.624C229.306 138.313 230.024 138.151 230.751 138.151C231.478 138.151 232.195 138.313 232.853 138.624C233.51 138.935 234.09 139.389 234.551 139.951C235.39 140.896 236.036 141.997 236.451 143.191C236.743 144.012 236.945 144.862 237.052 145.727C237.085 145.962 237.104 146.199 237.109 146.437C237.115 146.519 237.113 146.602 237.103 146.684Z" fill="#263238" />
								<path d="M239.302 146.684C239.148 145.522 238.874 144.379 238.485 143.273C238.066 142.12 237.432 141.058 236.616 140.141C236.17 139.604 235.611 139.171 234.979 138.875C234.347 138.578 233.657 138.424 232.959 138.424C232.261 138.424 231.571 138.578 230.939 138.875C230.307 139.171 229.748 139.604 229.301 140.141C228.475 141.05 227.83 142.109 227.401 143.261C227.006 144.363 226.73 145.504 226.578 146.665C226.578 146.665 226.578 146.583 226.578 146.418C226.583 146.182 226.604 145.947 226.641 145.714C226.745 144.849 226.946 143.998 227.243 143.178C227.658 141.988 228.304 140.891 229.143 139.951C229.605 139.39 230.185 138.937 230.842 138.627C231.499 138.316 232.217 138.155 232.943 138.155C233.67 138.155 234.387 138.316 235.044 138.627C235.701 138.937 236.281 139.39 236.743 139.951C237.582 140.896 238.228 141.997 238.643 143.191C238.934 144.012 239.133 144.862 239.238 145.727C239.276 146.031 239.295 146.272 239.302 146.437C239.31 146.519 239.31 146.602 239.302 146.684Z" fill="#263238" />
								<path d="M217.028 145.207L241.798 145.036L242.342 175.804H214.539L217.028 145.207Z" fill="#455A64" />
								<path d="M241.798 145.036H244.913L247.586 175.804H242.342L241.798 145.036Z" fill="#455A64" />
								<path d="M241.798 145.036H244.913L247.586 175.804H242.342L241.798 145.036Z" fill="black" />
								<path d="M237.579 155.484H221.359V158.591H237.579V155.484Z" fill="#4DA585" />
								<path d="M233.805 161.913C233.805 161.913 226.496 162.883 226.002 164.214C226.002 164.214 226.312 169.629 231.911 174.682L231.05 176.977L231.316 180.584C233.38 175.715 235.534 168.342 235.534 168.342C235.534 168.342 235.28 163.289 233.805 161.913Z" fill="#E0E0E0" />
								<path d="M233.576 162.407C233.576 162.407 231.511 169.261 233.443 173.934C233.443 173.934 236.521 167.79 233.576 162.407Z" fill="black" />
								<path d="M245.749 170.028C245.749 170.028 241.854 163.764 240.442 163.859C240.442 163.859 235.641 166.395 233.342 173.553L230.898 173.718C230.898 173.718 229.188 168.215 222.436 165.622C222.436 165.622 219.219 172.596 219.086 172.551C221.535 174.504 224.595 175.526 227.725 175.436C233.007 175.316 240.607 174.251 240.607 174.251C240.607 174.251 245.116 171.943 245.749 170.028Z" fill="#E0E0E0" />
								<path d="M229.7 174.72C229.7 174.72 223.962 171.956 219.566 172.583C219.541 172.583 225.019 176.539 229.7 174.72Z" fill="black" />
								<path d="M245.204 170.028C245.204 170.028 238.148 170.998 234.652 174.65C234.652 174.65 241.518 174.929 245.204 170.028Z" fill="black" />
								<path d="M256.737 173.033L256.984 202.425L211.84 205.393L209.301 176.146L256.737 173.033Z" fill="#027F51" />
								<path d="M248.168 173.591L250.087 202.882L256.984 202.425L256.737 173.033L248.168 173.591Z" fill="black" />
								<path d="M253.342 173.255L254.108 202.616L252.544 202.717L250.625 173.433L253.342 173.255Z" fill="#F5F5F5" />
								<path d="M230.983 174.723L227.223 174.97L229.14 204.255L232.9 204.008L230.983 174.723Z" fill="#F5F5F5" />
								<path d="M256.662 185.533L210.432 189.004L210.644 191.843L256.874 188.371L256.662 185.533Z" fill="#F5F5F5" />
								<path d="M215.659 205.12C215.584 205.121 215.512 205.095 215.455 205.048C215.398 205 215.36 204.933 215.348 204.86L203.733 146.57C203.725 146.529 203.724 146.487 203.732 146.446C203.74 146.406 203.756 146.367 203.779 146.332C203.802 146.297 203.832 146.267 203.866 146.244C203.901 146.221 203.939 146.204 203.98 146.196C204.063 146.181 204.149 146.199 204.218 146.247C204.288 146.294 204.337 146.367 204.354 146.45L215.982 204.74C215.997 204.822 215.979 204.907 215.933 204.976C215.887 205.046 215.816 205.095 215.735 205.114L215.659 205.12Z" fill="#E0E0E0" />
								<path d="M225.678 204.562C225.605 204.563 225.533 204.539 225.476 204.492C225.42 204.446 225.381 204.381 225.368 204.309L215.234 149.981C215.226 149.939 215.227 149.897 215.235 149.855C215.244 149.814 215.261 149.774 215.284 149.739C215.308 149.704 215.339 149.674 215.374 149.651C215.409 149.628 215.449 149.612 215.491 149.604C215.532 149.596 215.575 149.596 215.616 149.605C215.658 149.614 215.697 149.63 215.732 149.654C215.767 149.678 215.797 149.708 215.82 149.744C215.844 149.779 215.86 149.819 215.868 149.861L226.001 204.188C226.016 204.271 225.998 204.357 225.95 204.427C225.903 204.497 225.83 204.545 225.748 204.562H225.678Z" fill="#E0E0E0" />
								<path d="M234.983 204.023C234.907 204.024 234.835 203.997 234.778 203.948C234.72 203.899 234.683 203.831 234.672 203.757L226.781 150.235C226.775 150.193 226.777 150.151 226.787 150.111C226.797 150.07 226.814 150.032 226.839 149.999C226.864 149.965 226.895 149.937 226.931 149.915C226.966 149.894 227.006 149.879 227.047 149.873C227.13 149.862 227.214 149.884 227.281 149.933C227.348 149.983 227.394 150.057 227.408 150.139L235.299 203.662C235.31 203.745 235.289 203.829 235.239 203.896C235.19 203.964 235.116 204.009 235.033 204.023H234.983Z" fill="#E0E0E0" />
								<path d="M245.552 204.245C245.477 204.244 245.404 204.216 245.347 204.166C245.29 204.116 245.253 204.048 245.242 203.972L237.56 151.883C237.554 151.841 237.556 151.799 237.567 151.758C237.577 151.718 237.596 151.679 237.621 151.646C237.646 151.612 237.678 151.584 237.714 151.563C237.75 151.541 237.79 151.527 237.832 151.522C237.874 151.516 237.916 151.518 237.957 151.529C237.997 151.539 238.035 151.558 238.069 151.583C238.102 151.608 238.131 151.64 238.152 151.676C238.173 151.713 238.187 151.753 238.193 151.794L245.875 203.877C245.882 203.919 245.88 203.961 245.87 204.001C245.86 204.042 245.842 204.08 245.817 204.113C245.793 204.147 245.761 204.175 245.726 204.197C245.69 204.218 245.651 204.233 245.609 204.239L245.552 204.245Z" fill="#E0E0E0" />
								<path d="M255.775 202.286C255.699 202.287 255.626 202.26 255.569 202.211C255.512 202.162 255.475 202.094 255.464 202.02L248.396 154.077C248.39 154.035 248.392 153.993 248.402 153.953C248.412 153.912 248.43 153.874 248.454 153.841C248.479 153.807 248.51 153.779 248.546 153.757C248.581 153.736 248.621 153.721 248.662 153.715C248.745 153.704 248.829 153.726 248.896 153.775C248.964 153.825 249.009 153.899 249.023 153.982L256.091 201.925C256.102 202.008 256.081 202.092 256.031 202.159C255.981 202.226 255.908 202.272 255.825 202.286H255.775Z" fill="#E0E0E0" />
								<path d="M266.439 203.332C266.364 203.331 266.291 203.303 266.234 203.253C266.177 203.203 266.14 203.135 266.129 203.06L259.048 155.186C259.042 155.145 259.044 155.102 259.054 155.061C259.065 155.02 259.083 154.982 259.108 154.948C259.158 154.88 259.234 154.834 259.318 154.822C259.402 154.809 259.487 154.83 259.555 154.881C259.624 154.931 259.669 155.007 259.682 155.091L266.737 202.945C266.743 202.987 266.741 203.03 266.731 203.07C266.721 203.111 266.702 203.15 266.677 203.183C266.651 203.217 266.62 203.245 266.583 203.266C266.547 203.288 266.507 203.301 266.465 203.307L266.439 203.332Z" fill="#E0E0E0" />
								<path d="M275.857 202.286C275.779 202.286 275.704 202.257 275.646 202.204C275.589 202.151 275.553 202.079 275.547 202.001L271 156.987C270.995 156.945 270.999 156.904 271.011 156.864C271.023 156.824 271.043 156.787 271.07 156.755C271.097 156.723 271.129 156.697 271.166 156.678C271.203 156.659 271.243 156.647 271.285 156.644C271.368 156.637 271.45 156.662 271.515 156.714C271.58 156.766 271.622 156.841 271.633 156.923L276.174 201.937C276.178 201.979 276.175 202.021 276.163 202.061C276.151 202.101 276.131 202.139 276.104 202.171C276.078 202.204 276.045 202.23 276.008 202.25C275.971 202.27 275.931 202.282 275.889 202.286H275.857Z" fill="#E0E0E0" />
								<path d="M283.749 202.286C283.667 202.286 283.589 202.254 283.529 202.198C283.47 202.141 283.436 202.064 283.432 201.982L281.912 158.654C281.911 158.612 281.917 158.571 281.932 158.532C281.946 158.493 281.968 158.457 281.996 158.426C282.024 158.396 282.058 158.371 282.096 158.353C282.134 158.336 282.175 158.326 282.216 158.324C282.301 158.324 282.382 158.356 282.443 158.414C282.504 158.472 282.541 158.551 282.546 158.635L284.066 201.963C284.067 202.046 284.037 202.126 283.98 202.187C283.923 202.247 283.845 202.283 283.762 202.286H283.749Z" fill="#E0E0E0" />
								<path d="M204.462 195.134L288.271 190.944C289.405 190.887 290.564 190.893 291.691 190.773H291.843C292.35 190.773 292.356 189.955 291.843 189.98L208.04 194.183C206.9 194.241 205.741 194.228 204.614 194.355H204.462C203.955 194.355 203.955 195.173 204.462 195.147V195.134Z" fill="#E0E0E0" />
								<path d="M201.796 179.754L288.689 181.573C289.848 181.573 291.033 181.694 292.192 181.649H292.35C292.446 181.637 292.535 181.59 292.599 181.517C292.664 181.444 292.699 181.35 292.699 181.253C292.699 181.156 292.664 181.062 292.599 180.989C292.535 180.916 292.446 180.869 292.35 180.857L205.457 179.037C204.298 179.037 203.113 178.923 201.954 178.968H201.796C201.7 178.98 201.611 179.027 201.547 179.1C201.483 179.173 201.447 179.267 201.447 179.364C201.447 179.461 201.483 179.555 201.547 179.628C201.611 179.701 201.7 179.748 201.796 179.76V179.754Z" fill="#E0E0E0" />
								<path d="M197.894 162.306L289.106 170.947C290.329 171.068 291.583 171.277 292.811 171.302H292.976C293.483 171.353 293.483 170.561 292.976 170.51L201.763 161.869C200.541 161.754 199.287 161.539 198.058 161.52H197.894C197.387 161.475 197.387 162.268 197.894 162.312V162.306Z" fill="#E0E0E0" />
								<path d="M209.825 207.32C208.693 207.322 207.594 206.934 206.714 206.22C205.834 205.507 205.226 204.511 204.993 203.402L192.548 145.334C192.51 145.137 192.52 144.934 192.576 144.741C192.632 144.549 192.732 144.372 192.869 144.226C193.007 144.08 193.177 143.969 193.365 143.901C193.554 143.834 193.755 143.812 193.954 143.838L293.881 159.174C294.188 159.225 294.465 159.387 294.66 159.629C294.855 159.871 294.954 160.176 294.939 160.486L292.615 198.438C292.539 199.65 292.021 200.792 291.159 201.648C290.298 202.503 289.152 203.013 287.941 203.079L210.123 207.307L209.825 207.32ZM195.379 146.583L207.412 202.876C207.53 203.45 207.852 203.963 208.317 204.319C208.782 204.676 209.361 204.852 209.946 204.816L287.763 200.581C288.368 200.55 288.94 200.296 289.368 199.867C289.797 199.438 290.051 198.866 290.081 198.26L292.387 161.488L195.379 146.583Z" fill="#E0E0E0" />
								<path d="M195.379 146.583L195.841 146.64L197.222 146.849L202.586 147.654L292.393 161.311H292.532V161.488C292.14 167.828 291.734 174.39 291.316 181.174C291.105 184.555 290.894 187.994 290.683 191.489C290.577 193.226 290.47 194.976 290.36 196.739L290.278 198.057C290.273 198.526 290.156 198.987 289.936 199.401C289.705 199.816 289.368 200.161 288.96 200.401C288.551 200.641 288.085 200.766 287.611 200.764L210.18 204.949C209.699 205.005 209.213 204.926 208.774 204.721C208.336 204.516 207.963 204.193 207.697 203.789C207.57 203.59 207.468 203.378 207.393 203.155C207.33 202.926 207.292 202.704 207.241 202.489C207.146 202.045 207.051 201.608 206.963 201.17C206.589 199.427 206.222 197.709 205.867 196.028C205.153 192.668 204.467 189.447 203.809 186.366C198.641 161.875 195.575 147.489 195.411 146.602C195.607 147.489 198.729 161.881 204.043 186.379C204.702 189.448 205.394 192.656 206.12 196.003C206.475 197.694 206.842 199.399 207.222 201.119C207.311 201.557 207.406 201.994 207.501 202.432C207.557 202.865 207.701 203.281 207.925 203.655C208.164 204.021 208.501 204.312 208.898 204.495C209.294 204.677 209.734 204.745 210.167 204.689L287.63 200.473C288.049 200.477 288.461 200.369 288.823 200.159C289.185 199.95 289.484 199.646 289.689 199.281C289.886 198.91 289.988 198.496 289.986 198.076L290.069 196.758C290.178 194.995 290.286 193.243 290.392 191.502C290.607 188.019 290.818 184.583 291.025 181.193C291.449 174.409 291.861 167.822 292.254 161.501L292.387 161.672L222.853 150.894L202.681 147.73L197.26 146.906L195.86 146.678L195.379 146.583Z" fill="#263238" />
								<path d="M209.825 207.32L221.391 206.629L286.846 202.99C287.365 202.99 287.897 202.945 288.398 202.882C288.903 202.798 289.393 202.636 289.848 202.4C290.777 201.924 291.524 201.155 291.976 200.213C292.203 199.742 292.351 199.236 292.413 198.717C292.47 198.197 292.489 197.639 292.527 197.1C292.597 196.009 292.66 194.919 292.729 193.816C293.274 185.01 293.844 175.759 294.433 166.173L294.661 162.566C294.661 161.932 294.731 161.355 294.769 160.746C294.822 160.473 294.791 160.19 294.68 159.935C294.563 159.695 294.363 159.506 294.117 159.402C293.834 159.327 293.546 159.272 293.255 159.237L202.518 145.296L194.924 144.142L194.183 144.028C193.956 143.974 193.719 143.974 193.493 144.028C193.278 144.086 193.087 144.207 192.942 144.376C192.798 144.544 192.707 144.752 192.682 144.972C192.667 145.204 192.695 145.436 192.764 145.657L192.916 146.38C194.557 154.058 196.083 161.209 197.47 167.739C200.244 180.793 202.486 191.356 204.038 198.666L205.064 203.522C205.28 204.477 205.778 205.344 206.493 206.012C207.208 206.681 208.106 207.118 209.073 207.269C209.567 207.358 209.826 207.333 209.826 207.352H209.649C209.458 207.349 209.268 207.334 209.079 207.307C208.095 207.168 207.177 206.734 206.446 206.062C205.714 205.389 205.203 204.51 204.981 203.541C204.677 202.134 204.325 200.517 203.924 198.691C202.347 191.388 200.073 180.831 197.255 167.784C195.849 161.26 194.316 154.108 192.663 146.437L192.511 145.714C192.433 145.464 192.4 145.202 192.416 144.941C192.449 144.665 192.564 144.405 192.746 144.195C192.927 143.985 193.168 143.834 193.436 143.761C193.698 143.701 193.971 143.701 194.234 143.761L272.039 155.681L290.576 158.496L293.306 158.914C293.621 158.948 293.932 159.01 294.237 159.098C294.559 159.232 294.821 159.48 294.971 159.795C295.105 160.1 295.149 160.437 295.098 160.765L294.756 166.192C294.161 175.779 293.585 185.029 293.034 193.835C292.964 194.938 292.894 196.028 292.824 197.119C292.786 197.664 292.774 198.197 292.711 198.748C292.642 199.3 292.486 199.837 292.248 200.34C291.768 201.34 290.974 202.155 289.987 202.66C289.503 202.913 288.981 203.084 288.442 203.167C287.897 203.243 287.384 203.25 286.859 203.281L221.397 206.743L212.816 207.174L210.586 207.282C210.086 207.326 209.825 207.32 209.825 207.32Z" fill="#263238" />
								<path d="M150.881 139.387C150.881 139.387 149.431 145.188 149.576 148.954C149.722 152.72 151.603 158.813 151.603 158.813L150.001 184.629C150.001 184.629 141.134 193.068 138.265 196.777C135.668 200.156 118.15 219.905 118.15 219.905L131.45 231.152C131.45 231.152 153.155 209.526 157.645 204.594C162.135 199.661 167.215 196.269 169.115 189.606C171.015 182.943 175.214 158.54 175.214 158.54L180.242 149.411L178.976 141.054L150.881 139.387Z" fill="#263238" />
								<path d="M161.053 189.308C160.844 190.354 149.197 236.978 149.197 236.978L167.216 241.29C166.855 240.738 171.016 223.95 174.474 210.585C177.64 198.279 179.426 194.317 180.243 189.308C181.06 184.299 184.898 155.072 184.746 153.221C184.752 151.706 185.022 150.204 185.544 148.783L170.224 145.08L161.053 189.308Z" fill="#263238" />
								<path d="M178.242 153.024C178.195 153.11 178.142 153.193 178.084 153.271L177.583 153.994L175.62 156.771V156.739C175.044 160.404 174.081 166.249 172.738 173.515C172.061 177.135 171.294 181.123 170.344 185.314C170.108 186.366 169.848 187.423 169.565 188.484C169.439 189.023 169.274 189.555 169.116 190.094C168.957 190.633 168.774 191.178 168.571 191.717C168.367 192.263 168.087 192.777 167.741 193.245C167.412 193.721 167.07 194.19 166.703 194.646C165.987 195.566 165.227 196.453 164.454 197.353C160.16 202.267 155.841 206.737 151.914 210.794C147.988 214.852 144.416 218.478 141.369 221.496C138.323 224.514 135.878 226.93 134.162 228.597L132.186 230.499L131.66 230.987C131.546 231.101 131.483 231.152 131.477 231.146C131.526 231.082 131.581 231.022 131.641 230.968C131.762 230.835 131.926 230.67 132.135 230.455L134.073 228.496L141.205 221.325C144.213 218.288 147.785 214.668 151.705 210.604C155.626 206.54 159.939 202.064 164.22 197.157C164.986 196.263 165.746 195.369 166.456 194.462C167.2 193.606 167.814 192.645 168.28 191.609C168.487 191.091 168.667 190.562 168.818 190.024C168.97 189.486 169.141 188.953 169.268 188.42C169.55 187.351 169.81 186.294 170.047 185.25C171.009 181.06 171.782 177.091 172.479 173.471C173.853 166.23 174.86 160.379 175.493 156.727V156.695L177.514 153.956L178.039 153.259C178.097 153.173 178.165 153.094 178.242 153.024Z" fill="#455A64" />
								<path d="M135.65 224.85L126.847 233.923C126.847 233.923 133.104 245.937 131.641 247.769L113.445 231.285L126.587 216.576L135.65 224.85Z" fill="#263238" />
								<path d="M121.933 228.058C121.711 227.957 121.459 227.941 121.226 228.012C120.993 228.083 120.794 228.237 120.666 228.445C120.554 228.663 120.53 228.916 120.599 229.152C120.667 229.387 120.822 229.588 121.033 229.713C121.271 229.822 121.541 229.84 121.791 229.763C122.041 229.686 122.254 229.519 122.389 229.295C122.478 229.055 122.473 228.79 122.374 228.555C122.275 228.319 122.09 228.13 121.857 228.027" fill="#E0E0E0" />
								<path d="M113.445 231.311L114.826 229.878L131.749 246.197C131.749 246.197 132.243 247.281 131.635 247.769L113.445 231.311Z" fill="#455A64" />
								<path d="M165.08 233.682L162.984 243.502L162.921 245.404C162.921 245.404 175.587 250.09 175.765 252.435L151.242 252.486L151.191 245.176L153.832 232.211L165.08 233.682Z" fill="#263238" />
								<path d="M155.333 244.339C155.098 244.413 154.898 244.57 154.772 244.782C154.646 244.994 154.602 245.245 154.649 245.487C154.712 245.725 154.864 245.93 155.074 246.059C155.284 246.187 155.536 246.23 155.777 246.178C156.027 246.101 156.239 245.934 156.373 245.709C156.506 245.484 156.551 245.217 156.499 244.961C156.407 244.715 156.223 244.516 155.986 244.406C155.749 244.295 155.478 244.283 155.232 244.371" fill="#E0E0E0" />
								<path d="M151.242 252.467L151.306 250.476L174.796 251.174C174.796 251.174 175.892 251.643 175.765 252.442L151.242 252.467Z" fill="#455A64" />
								<path d="M195.887 242.583C195.662 242.582 195.442 242.516 195.253 242.393C195.121 242.309 195.006 242.2 194.916 242.071C194.826 241.943 194.762 241.798 194.728 241.645C194.694 241.492 194.69 241.334 194.717 241.179C194.744 241.024 194.802 240.877 194.886 240.745L212.879 212.506C214.743 209.58 217.656 207.48 221.02 206.639C224.384 205.798 227.941 206.28 230.961 207.986L276.934 233.923L277.023 233.973C279.791 235.875 281.304 237.917 281.526 240.053C281.555 240.216 281.55 240.382 281.512 240.542C281.473 240.702 281.402 240.852 281.303 240.984C281.204 241.115 281.08 241.225 280.936 241.306C280.793 241.387 280.635 241.438 280.471 241.455C280.308 241.472 280.142 241.455 279.986 241.405C279.829 241.355 279.684 241.274 279.56 241.165C279.436 241.057 279.336 240.924 279.266 240.776C279.195 240.627 279.156 240.465 279.151 240.301C279.005 238.906 277.853 237.448 275.718 235.977L229.789 210.065C227.301 208.663 224.37 208.268 221.6 208.962C218.83 209.655 216.43 211.384 214.893 213.793L196.894 242.006C196.789 242.18 196.641 242.324 196.465 242.425C196.289 242.526 196.09 242.58 195.887 242.583Z" fill="#E0E0E0" />
								<path d="M195.886 242.583C196.059 242.574 196.229 242.531 196.386 242.456C196.581 242.361 196.745 242.214 196.861 242.031C197 241.816 197.159 241.556 197.336 241.271L200.503 236.199C203.296 231.799 207.336 225.421 212.352 217.502C212.986 216.513 213.619 215.499 214.284 214.465C214.916 213.365 215.703 212.361 216.621 211.485C218.145 210.075 220.027 209.112 222.062 208.703C224.096 208.294 226.204 208.453 228.154 209.165C228.839 209.418 229.501 209.732 230.13 210.103L232.03 211.187L240.048 215.682L275.806 235.831C276.565 236.345 277.267 236.938 277.902 237.6C278.588 238.275 279.066 239.133 279.277 240.072C279.284 240.294 279.342 240.511 279.448 240.706C279.549 240.885 279.705 241.027 279.891 241.112C280.075 241.202 280.281 241.235 280.483 241.205C280.686 241.176 280.874 241.086 281.025 240.947C281.177 240.808 281.285 240.628 281.335 240.427C281.377 240.218 281.377 240.003 281.335 239.793C281.255 239.335 281.121 238.888 280.936 238.462C280.039 236.717 278.689 235.245 277.028 234.202C275.356 233.219 273.621 232.3 271.962 231.31L234.297 210.04C232.866 209.254 231.473 208.404 230.079 207.694C228.042 206.716 225.791 206.268 223.535 206.392C221.278 206.516 219.09 207.208 217.172 208.404C215.996 209.14 214.943 210.056 214.05 211.118C213.228 212.167 212.475 213.268 211.795 214.414L198.444 235.273C196.867 237.739 195.613 239.641 194.815 240.941C194.747 241.092 194.712 241.257 194.712 241.423C194.712 241.589 194.747 241.753 194.815 241.905C194.925 242.121 195.094 242.301 195.303 242.425C195.476 242.521 195.669 242.575 195.867 242.583H195.715C195.564 242.567 195.418 242.521 195.284 242.45C195.063 242.332 194.883 242.148 194.771 241.924C194.694 241.768 194.65 241.598 194.643 241.424C194.637 241.25 194.667 241.077 194.733 240.916C195.525 239.584 196.76 237.682 198.311 235.21C201.478 230.264 205.981 223.126 211.58 214.288C212.264 213.131 213.021 212.019 213.847 210.959C214.753 209.877 215.822 208.943 217.014 208.189C218.96 206.966 221.183 206.255 223.476 206.12C225.77 205.984 228.06 206.43 230.136 207.415C231.568 208.144 232.936 208.968 234.373 209.761L272.101 231.025C273.798 231.989 275.496 232.927 277.218 233.929C278.929 235.01 280.319 236.532 281.24 238.335C281.433 238.787 281.574 239.259 281.658 239.743C281.712 239.998 281.712 240.261 281.658 240.516C281.6 240.782 281.458 241.022 281.253 241.201C281.103 241.336 280.926 241.437 280.733 241.496C280.54 241.554 280.337 241.569 280.137 241.539C279.938 241.51 279.748 241.436 279.58 241.324C279.413 241.211 279.272 241.063 279.169 240.89C279.048 240.665 278.976 240.416 278.96 240.161C278.768 239.286 278.328 238.485 277.693 237.853C277.073 237.211 276.387 236.635 275.648 236.135L231.954 211.46L230.054 210.376C229.439 210.01 228.793 209.7 228.122 209.45C226.219 208.751 224.159 208.591 222.171 208.987C220.182 209.383 218.341 210.32 216.849 211.695C215.945 212.553 215.168 213.537 214.544 214.617C213.91 215.657 213.239 216.665 212.606 217.654L197.393 241.328C197.203 241.613 197.045 241.867 196.899 242.088C196.777 242.271 196.606 242.416 196.405 242.507C196.242 242.579 196.063 242.606 195.886 242.583Z" fill="#263238" />
								<path d="M195.032 254.439C198.134 254.439 200.649 251.921 200.649 248.815C200.649 245.709 198.134 243.192 195.032 243.192C191.929 243.192 189.414 245.709 189.414 248.815C189.414 251.921 191.929 254.439 195.032 254.439Z" fill="#263238" />
								<path d="M198.592 242.951C198.666 242.876 198.725 242.787 198.766 242.689C198.806 242.591 198.826 242.486 198.826 242.38V241.898C198.826 241.683 198.741 241.477 198.589 241.324C198.436 241.172 198.23 241.087 198.015 241.087H192.809C192.594 241.087 192.388 241.172 192.236 241.324C192.084 241.477 191.999 241.683 191.999 241.898V242.38C192.001 242.506 192.034 242.63 192.095 242.74C192.156 242.85 192.242 242.944 192.347 243.014L189.877 243.483V244.834L192.55 245.81L194.076 249.614C194.165 249.833 194.318 250.02 194.514 250.152C194.711 250.284 194.942 250.355 195.178 250.355C195.414 250.355 195.645 250.284 195.842 250.152C196.038 250.02 196.19 249.833 196.28 249.614L197.806 245.772L200.479 245.138V243.394L198.592 242.951Z" fill="#E0E0E0" />
								<path d="M198.592 242.951C198.592 242.951 198.781 242.951 199.11 243.033C199.439 243.116 199.902 243.16 200.484 243.274H200.541V243.338C200.541 243.839 200.541 244.422 200.541 245.081V245.176H200.459L197.799 245.848L197.888 245.772C197.622 246.444 197.343 247.167 197.045 247.934L196.577 249.107C196.494 249.316 196.431 249.506 196.33 249.741C196.211 249.974 196.026 250.167 195.799 250.297C195.572 250.427 195.312 250.487 195.051 250.471C194.79 250.455 194.54 250.363 194.33 250.206C194.121 250.049 193.962 249.835 193.872 249.589C193.777 249.367 193.689 249.145 193.6 248.917C193.233 248.017 192.859 247.093 192.479 246.146L192.359 245.855L192.454 245.943L189.787 244.986L189.68 244.948V244.834C189.68 244.377 189.68 243.927 189.68 243.483V243.35H189.806L192.276 242.894L192.219 243.166C192.064 243.029 191.957 242.844 191.915 242.64C191.884 242.448 191.873 242.252 191.884 242.057C191.867 241.858 191.907 241.658 191.998 241.48C192.09 241.296 192.242 241.149 192.428 241.062C192.601 240.984 192.791 240.954 192.979 240.973H194.423L197.59 241.011C197.802 241.002 198.014 241.015 198.223 241.049C198.421 241.102 198.594 241.223 198.711 241.391C198.815 241.533 198.871 241.704 198.869 241.879C198.869 242.025 198.869 242.158 198.869 242.285C198.869 242.805 198.572 242.983 198.584 242.964C198.728 242.768 198.793 242.526 198.768 242.285C198.804 242.005 198.748 241.72 198.61 241.474C198.504 241.339 198.357 241.243 198.192 241.201C197.981 241.183 197.769 241.183 197.558 241.201L194.392 241.239H192.948C192.8 241.221 192.651 241.245 192.517 241.309C192.384 241.376 192.275 241.484 192.208 241.618C192.141 241.752 192.118 241.903 192.143 242.051C192.126 242.217 192.126 242.385 192.143 242.551C192.185 242.7 192.28 242.829 192.409 242.913L192.694 243.116L192.346 243.185L189.876 243.661L190.009 243.502V244.853L189.901 244.701L192.574 245.652H192.644V245.721L192.764 246.019L193.879 248.79L194.151 249.462C194.22 249.659 194.346 249.831 194.512 249.957C194.674 250.075 194.867 250.143 195.067 250.153C195.267 250.163 195.466 250.115 195.639 250.014C195.812 249.918 195.951 249.772 196.038 249.595C196.121 249.424 196.203 249.196 196.285 249.006L196.754 247.833L197.628 245.683V245.62H197.691L200.37 244.986L200.294 245.087C200.294 244.453 200.294 243.819 200.294 243.344L200.351 243.414C199.718 243.274 199.249 243.147 198.939 243.065C198.629 242.983 198.579 242.951 198.592 242.951Z" fill="#263238" />
								<path d="M195.032 249.684C195.382 249.684 195.665 249.4 195.665 249.05C195.665 248.7 195.382 248.416 195.032 248.416C194.682 248.416 194.398 248.7 194.398 249.05C194.398 249.4 194.682 249.684 195.032 249.684Z" fill="#263238" />
								<path d="M286.2 249.776C286.933 246.539 284.906 243.319 281.672 242.586C278.438 241.852 275.222 243.882 274.489 247.119C273.756 250.356 275.784 253.575 279.018 254.309C282.252 255.043 285.467 253.013 286.2 249.776Z" fill="#263238" />
								<path d="M284.153 242.171C284.228 242.097 284.287 242.009 284.327 241.912C284.367 241.815 284.388 241.712 284.388 241.607V240.973C284.386 240.758 284.3 240.552 284.148 240.401C283.997 240.249 283.791 240.163 283.577 240.161H277.877C277.662 240.161 277.456 240.247 277.304 240.399C277.152 240.551 277.066 240.757 277.066 240.973V241.607C277.068 241.731 277.1 241.854 277.158 241.964C277.217 242.074 277.3 242.169 277.402 242.241L274.799 242.735V244.181L277.649 245.201L279.283 249.246C279.378 249.479 279.541 249.678 279.749 249.818C279.958 249.958 280.203 250.033 280.454 250.033C280.706 250.033 280.951 249.958 281.16 249.818C281.368 249.678 281.531 249.479 281.626 249.246L283.26 245.144L286.116 244.453V242.589L284.153 242.171Z" fill="#E0E0E0" />
								<path d="M284.153 242.171C284.153 242.171 284.356 242.203 284.705 242.26L286.155 242.52H286.218V242.583C286.218 243.116 286.218 243.743 286.218 244.447V244.542H286.142L283.292 245.259L283.381 245.183C283.102 245.905 282.798 246.679 282.475 247.49C282.317 247.902 282.152 248.321 281.981 248.758C281.893 248.98 281.823 249.183 281.715 249.392C281.591 249.632 281.403 249.832 281.171 249.969C280.93 250.11 280.654 250.177 280.376 250.162C280.098 250.148 279.831 250.052 279.606 249.887C279.379 249.715 279.206 249.482 279.106 249.215C279.011 248.974 278.916 248.739 278.815 248.498L277.497 245.233L277.592 245.322L274.742 244.301L274.635 244.263V242.64H274.761L277.371 242.158L277.307 242.431C277.116 242.291 276.983 242.086 276.934 241.854C276.917 241.643 276.917 241.431 276.934 241.22C276.913 241.003 276.948 240.785 277.035 240.586C277.133 240.389 277.297 240.232 277.497 240.142C277.684 240.068 277.886 240.04 278.086 240.06H279.632L283.058 240.092C283.29 240.076 283.523 240.076 283.755 240.092C283.97 240.14 284.158 240.269 284.28 240.453C284.386 240.608 284.439 240.792 284.432 240.979V241.41C284.451 241.614 284.405 241.818 284.299 241.994C284.263 242.054 284.213 242.106 284.154 242.146C284.231 242.041 284.287 241.922 284.319 241.796C284.35 241.67 284.357 241.539 284.337 241.41C284.306 241.157 284.388 240.776 284.179 240.535C284.07 240.387 283.91 240.285 283.729 240.25C283.519 240.235 283.307 240.235 283.096 240.25L279.67 240.282H278.124C277.963 240.265 277.8 240.287 277.649 240.345C277.509 240.411 277.395 240.523 277.326 240.662C277.263 240.819 277.242 240.989 277.263 241.157C277.253 241.338 277.253 241.52 277.263 241.702C277.302 241.861 277.396 242 277.529 242.095L277.814 242.298L277.472 242.368L274.863 242.868L274.996 242.71V244.155L274.888 244.003L277.744 245.018H277.814V245.087L277.934 245.392C278.346 246.4 278.745 247.395 279.131 248.359L279.416 249.075C279.468 249.233 279.553 249.376 279.666 249.497C279.779 249.617 279.918 249.711 280.072 249.772C280.225 249.832 280.39 249.858 280.555 249.847C280.72 249.836 280.881 249.789 281.025 249.709C281.208 249.603 281.357 249.447 281.456 249.259C281.544 249.069 281.633 248.828 281.715 248.625C281.893 248.194 282.057 247.776 282.222 247.357L283.159 245.056V244.992H283.223L286.079 244.327L286.003 244.422C286.003 243.718 286.003 243.09 286.003 242.558L286.06 242.634C285.427 242.482 284.901 242.355 284.572 242.266C284.431 242.241 284.291 242.209 284.153 242.171Z" fill="#263238" />
								<path d="M281.013 248.682C281.014 248.818 280.975 248.951 280.9 249.065C280.825 249.178 280.718 249.267 280.593 249.32C280.468 249.372 280.33 249.386 280.197 249.36C280.063 249.334 279.941 249.269 279.845 249.173C279.749 249.076 279.684 248.954 279.657 248.82C279.631 248.687 279.645 248.549 279.698 248.423C279.75 248.298 279.839 248.191 279.952 248.116C280.066 248.042 280.199 248.002 280.335 248.004C280.515 248.004 280.687 248.075 280.814 248.202C280.941 248.33 281.013 248.502 281.013 248.682Z" fill="#263238" />
								<path d="M262.779 204.518C262.608 204.554 262.434 204.573 262.259 204.575L260.758 204.657L255.242 204.949C250.587 205.196 244.152 205.583 237.053 206.052L218.857 207.238L213.347 207.548L211.846 207.618C211.671 207.631 211.495 207.631 211.32 207.618C211.491 207.577 211.665 207.554 211.84 207.548L213.334 207.421L218.844 207.003C223.499 206.661 229.928 206.191 237.027 205.735C244.127 205.279 250.568 204.911 255.229 204.721C257.56 204.619 259.447 204.562 260.752 204.537H262.259C262.432 204.521 262.605 204.514 262.779 204.518Z" fill="#263238" />
								<path d="M178.027 74.4082C178.027 74.4082 169.287 77.426 166.209 83.3539C164.518 86.619 159.679 105.43 159.679 105.43L156.234 122.846L148.355 143.977C148.355 143.977 151.484 147.401 165.778 149.049C180.073 150.697 187.761 152.904 187.761 152.904C187.761 152.904 188.971 134.125 190.25 126.548C191.53 118.972 194.557 96.3509 194.468 94.2144C194.38 92.0778 192.087 82.1684 192.087 82.1684C189.543 80.9775 187.075 79.6308 184.696 78.1361C182.558 76.7468 180.33 75.5014 178.027 74.4082Z" fill="#027F51" />
								<path d="M157.861 119.644C159.727 121.955 161.876 124.021 164.258 125.794C168.223 128.755 186.19 140.033 186.19 140.033L190.706 135.234L157.861 119.644Z" fill="black" />
								<path d="M167.679 84.2607C167.679 84.2607 157.007 115.485 157.514 118.858C158.02 122.231 174.747 129.636 185.805 135.45L191.08 129.414L172.144 114.832C172.144 114.832 182.841 90.9747 183.683 86.9361C184.525 82.8975 180.991 76.7921 178.129 76.4751C175.266 76.1581 167.679 84.2607 167.679 84.2607Z" fill="#FFBF9D" />
								<path d="M177.938 76.0438C172.523 75.524 168.996 79.9112 166.754 83.9308C164.512 87.9504 159.971 103.794 159.971 103.794L177.938 109.272C178.407 108.796 184.474 90.9682 184.664 87.2276C184.854 83.487 183.36 76.5637 177.938 76.0438Z" fill="#027F51" />
								<path d="M177.938 76.0438C178 76.0396 178.06 76.0397 178.122 76.0439L178.666 76.1264C179.364 76.2639 180.031 76.5259 180.636 76.8999C181.582 77.5324 182.371 78.374 182.941 79.3598C184.587 82.3197 185.134 85.7668 184.487 89.0917C184.075 91.0444 183.492 93.0922 182.853 95.2605C182.213 97.4288 181.497 99.6985 180.718 102.044C180.33 103.224 179.924 104.422 179.502 105.639C179.281 106.273 179.065 106.863 178.869 107.478C178.755 107.788 178.635 108.112 178.521 108.403C178.4 108.735 178.253 109.057 178.084 109.367L178.033 109.443L177.919 109.411L169.8 106.964L159.92 103.946L159.768 103.902L159.812 103.75C161.243 98.8489 162.662 94.2968 164.068 90.2392C164.71 88.3194 165.449 86.434 166.285 84.5903C167.068 83.0274 168.022 81.556 169.128 80.203C170.027 79.0929 171.096 78.1322 172.295 77.3563C173.199 76.7812 174.198 76.3732 175.246 76.1517C175.623 76.0666 176.007 76.0157 176.393 75.9996C176.673 75.978 176.955 75.978 177.235 75.9996L177.754 76.0376H177.925C177.033 76.014 176.142 76.0862 175.265 76.2532C174.239 76.494 173.262 76.9101 172.377 77.4831C171.204 78.2682 170.157 79.2282 169.274 80.3298C168.191 81.6782 167.259 83.1408 166.494 84.6917C165.674 86.5301 164.949 88.4092 164.321 90.3216C162.934 94.3792 161.528 98.9377 160.11 103.832L160.002 103.629L169.882 106.641L177.982 109.12L177.875 109.215C179.699 104.295 181.276 99.4893 182.574 95.1971C183.207 93.0415 183.841 90.9937 184.233 89.06C184.886 85.7925 184.378 82.3993 182.796 79.4676C182.248 78.4933 181.488 77.6548 180.573 77.014C179.989 76.6393 179.347 76.365 178.673 76.2024L178.141 76.0947C178.071 76.0881 178.003 76.0709 177.938 76.0438Z" fill="#263238" />
								<path d="M193.385 146.608C193.232 146.608 193.081 146.571 192.946 146.501C192.81 146.43 192.694 146.328 192.606 146.202L188.42 140.205C188.275 139.998 188.219 139.742 188.263 139.494C188.307 139.245 188.447 139.024 188.654 138.88C188.861 138.735 189.116 138.679 189.364 138.723C189.613 138.767 189.833 138.907 189.978 139.114L194.164 145.112C194.236 145.214 194.288 145.33 194.315 145.452C194.343 145.574 194.346 145.7 194.324 145.824C194.302 145.947 194.256 146.065 194.188 146.17C194.121 146.275 194.033 146.366 193.93 146.437C193.771 146.551 193.58 146.611 193.385 146.608Z" fill="#E0E0E0" />
								<path d="M192.917 140.509C192.917 141.363 192.664 142.198 192.19 142.908C191.716 143.618 191.043 144.171 190.255 144.498C189.466 144.825 188.599 144.91 187.763 144.744C186.926 144.577 186.157 144.166 185.554 143.562C184.951 142.958 184.54 142.189 184.374 141.351C184.207 140.514 184.293 139.646 184.619 138.857C184.946 138.068 185.499 137.393 186.208 136.919C186.917 136.445 187.751 136.191 188.604 136.191C189.748 136.191 190.845 136.646 191.654 137.456C192.463 138.266 192.917 139.364 192.917 140.509Z" fill="#455A64" />
								<path d="M184.316 132.362C184.316 132.362 184.747 135.082 185.444 136.077C186.14 137.073 187.084 136.597 188.123 136.902C189.161 137.206 189.389 137.637 189.554 138.29C189.719 138.943 190.536 143.445 191.327 143.996C191.439 144.095 191.575 144.161 191.721 144.187C191.867 144.213 192.018 144.199 192.157 144.145C192.295 144.091 192.416 144 192.507 143.883C192.598 143.765 192.654 143.624 192.67 143.476C192.67 142.842 191.853 137.06 191.853 137.06C191.853 137.06 193.278 140.268 193.322 141.435C193.367 142.601 193.468 145.042 194.5 145.169C195.058 145.239 195.406 145.245 195.577 144.256C195.768 142.979 195.84 141.686 195.792 140.395C195.704 139.615 195.159 137.143 195.159 137.143C195.159 137.143 196.761 140.268 196.717 140.947C196.673 141.625 196.027 142.158 196.457 142.677C196.888 143.197 197.889 142.982 198.275 142.551C198.791 141.709 199.103 140.758 199.187 139.774C198.927 138.676 198.61 137.592 198.237 136.528C198.237 136.528 199.63 138.48 199.763 139.26C199.896 140.04 199.763 143.064 200.219 143.445C200.675 143.825 201.562 144.079 201.777 143.058C201.987 141.587 202.104 140.105 202.126 138.62C202.126 137.662 199.706 134.011 199.231 133.32C198.756 132.629 196.242 132.191 195.678 131.842C195.115 131.494 190.51 129.059 190.51 129.059L184.316 132.362Z" fill="#FFBF9D" />
								<path d="M192.087 82.1304C192.147 82.2311 192.191 82.34 192.219 82.4537C192.302 82.6946 192.403 83.0116 192.53 83.4047C192.808 84.2733 193.163 85.4779 193.657 86.9805C194.006 89.3245 194.218 91.6871 194.29 94.0559C194.29 94.747 194.29 95.4634 194.29 96.1925C194.29 96.9216 194.176 97.6697 194.119 98.4305C193.986 99.9458 193.853 101.531 193.708 103.154C193.163 109.012 192.485 114.3 191.871 118.104C191.573 120.006 191.288 121.54 191.092 122.599L190.839 123.816C190.813 123.958 190.777 124.098 190.731 124.234C190.727 124.089 190.742 123.944 190.775 123.803C190.82 123.493 190.883 123.087 190.965 122.58C191.13 121.476 191.358 119.942 191.643 118.072C192.194 114.268 192.84 108.974 193.378 103.122C193.524 101.499 193.663 99.9204 193.803 98.3988C193.86 97.6444 193.923 96.9026 193.98 96.1798C194.037 95.4571 194.018 94.7533 193.98 94.0622C193.926 91.7069 193.75 89.3558 193.454 87.0185C193.024 85.5032 192.675 84.286 192.422 83.4111C192.314 83.0116 192.226 82.6946 192.162 82.441C192.13 82.3394 192.105 82.2356 192.087 82.1304Z" fill="#263238" />
							</svg>
						</div>
					</div>
					<div class="loginformsec ">
						<h5>Sign in or sign up</h5>
						<div class="loginsecwrap">
							<div class="mobile-control @(defLoginMethod == "1"? "":"hide")" ">
								<form class="row editprofilephone needs-validation" autocomplete="off" id="frmmobilelogin" name="">
									<div class="col-12">
										<div class="form-group">
											<label for="mobile-validation" class="form-label">Phone Number</label>
											<input id="txt-mobile" type="tel" class="form-control intl_tele_input" maxlength="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" name="mobile-validation" required value="" autofocus="" autocomplete="off">
											<div class="invalid-feedback invalid-phoone">Please enter a valid mobile number.</div>
										</div>
										<div class="btn-field">
											<button id="btn-generate-otp" type="submit" class="btn btn-primary mobilevalidationbtn signin">Continue</button>
										</div>
									</div>
								</form>
							</div><!--mobile-control-->

							<div class="otp-control hide">
								<form class="row editprofilephone needs-validation was-validated-" autocomplete="off" id="frmmobileotp" name="">
									<div class="col-12">
										<p id="lblMobileNum" class="otp_info">Please enter the verification code received in <span>your number <a id="lbl-change-mobile" class="change-mobile" href="">Change</a></span></p>
										<div class="form-group">
											<div class="otp_input_outer">
												<div class="otp_input_inner-">
													<div class="otp-container" id="otpContainer"></div>
													<div class="invalid-feedback invalid-otp">Please enter a valid OTP.</div>
													<input type="hidden" id="txtLoginOTP" name="txtLoginOTP">

													@* <input name="txtLoginOTP" type="text" id="txtLoginOTP" class="form-control partitioned " required="" maxlength="4" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"> *@
												</div>
											</div>

										</div>

										<div class="btn-field">
											<button type="submit" class="btn btn-primary validate signin" id="btn-verify-otp">Verify OTP</button>
										</div>

										<div class="otp_countdown_wrap">
											<span class="otp_countdown" id="countdown">Resend in 47 seconds</span>
											<span class="resentlink" id="resend"></span>
										</div>

									</div>
								</form>
							</div><!--otp-control-->

							<div class="enterpassword_control hide">
								<form class="row needs-validation was-validated- enterpassword_mobileform" autocomplete="off" id="enterpassword_mobile" name="">
									<div class="col-12">
										<div class="form-group">
											<label id="lbl-password" class="form-label">Enter your password for  <a class="edit_btn" id="lbl-change-email" href="javascript:void(0)"><small>change</small></a></label>
											<input type="password" class="form-control" name="mobile-password" value="" autocomplete="off" required="" minlength="6" maxlength="12">
										</div>
										<div class="errclasstobeadded"></div>
										<div class="btn-field">
											<button type="submit" class="btn btn-primary" id="enterpassword_control_submit">Continue</button>
										</div>
										<div class="lost_password_otp">
											<a class="mx-1 loginWithOtpLabel" href="javascript:void(0)">Forgot Password?</a>
											<a class="mx-1 loginWithOtpLabel" href="javascript:void(0)">Login with OTP</a>
										</div>
									</div>
								</form>
							</div><!--enterpassword_control-->

							<div class="emaillogin_sec @(defLoginMethod == "2" ? "" : "hide")">
								<form class="row needs-validation  emailloginform" autocomplete="off" id="emaillogin" name="">
									<div class="col-12">
										<div class="form-group emaillogin-ip">
											<label class="form-label">Enter your Email ID</label>
											<input id="txt-email" type="email" name="email" class="form-control" value="" autocomplete="off" required="">
											<div class="invalid-feedback error-email">Please enter a valid email.</div>

										</div>
										<div class="btn-field">
											<button type="submit" class="btn btn-primary" id="emaillogin_sec_btn">Continue</button>
										</div>
									</div>
								</form>
							</div><!--emaillogin_sec-->

							<div class="create_account hide">
								<h6 class="text-center mb-3">Create Your Account</h6>
								<form class="editprofilephone row needs-validation was-validated-" id="frmsignup">
									<div class="col-12">
										<div class="form-group ">
											<label for="newacount_name" class="form-label">Your Name</label>
											<input type="text" id="txt-signup-name" name="newacount_name" class="form-control" required="" placeholder="Enter your name" autocomplete="off" autofocus="">
										</div>
										<div id="newacount_emailid_field" class="form-group hide-">
											<label for="newacount_emailid" class="form-label">Email Id</label>
											<input type="email" id="txt-signup-email" name="newacount_emailid" class="form-control" placeholder="Enter your email address" autocomplete="off">
										</div>
										<div id="phone-acc-create" class="form-group">
											<label for="mobile-validation" class="form-label">Phone Number</label>
											<input id="txt-mobile-acc-create" class="form-control intl_tele_input" type="tel" maxlength="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" name="mobile-validation" required value="" autofocus="" autocomplete="off">
											<div class="invalid-feedback">Please enter a valid mobile number.</div>
										</div>
							@*<div class="form-group" id="pwd-acc-create">
											<label for="newmobile-number" class="form-label" id="lbl-email-pwd" class="form-label m-0">Password</label>
											<input id="txt-mobile-password" type="password" class="form-control" name="mobile-password" value="" autocomplete="off" required="required" placeholder="Enter your preferred password" minlength="6" maxlength="12">
										</div>*@
										<div class="btn-field">
											<button type="submit" class="btn btn-primary continubtn">Continue</button>
										</div>
									</div>
								</form>
							</div>

						</div><!--loginsecwrap-->

						<div class="federated-login-wrap">
							<div class='separation'>
								<span>Or</span>
							</div>
							<div class="federated-login">
								<div class="federated-login-liks">

									<div id="authButton" class="google fe_social_link">
										<span class="socialLinkIcon">
											<img alt="google" src="/images/google_icons.svg">
										</span>
										<span class="social_name">Continue with Google</span>
									</div>

									<div id="lbtninstalogin" class="instagram fe_social_link" href="">
										<span class="socialLinkIcon">
											<img alt="instagram" src="~/images/instagram_icons.svg">
										</span>
										<span class="social_name">Continue with Instagram</span>
									</div>

									<div class="facebookLogin fe_social_link">
										<span class="socialLinkIcon"></span>
										<span class="social_name">Continue with Facebook</span>
									</div>

									<div id="mobileLogin" href="" class="phone fe_social_link @(defLoginMethod == "2"? "":"hide")">
										<span class="socialLinkIcon">
											<img alt="mobile" src="~/images/mobile_icon.svg">
										</span>
										<span class="social_name">Continue with Mobile</span>
									</div>

									<div id="emailLogin-btn" class="email fe_social_link @(defLoginMethod == "1"? "":"hide")">
										<span class="socialLinkIcon">
											<img alt="email" src="~/images/email_icons.svg">
										</span>
										<span class="social_name">Continue with Mail</span>
									</div>

								</div>
							</div>
						</div> <!-- federated-login-wrap -->

						<div class="terms-conditions">
							<p class="text-center m-0">By proceeding,you agree to Grozeo's <a href="/privacy">Privacy Policy</a> and <a href="/terms-conditions">Terms of Service</a> apply.</p>
							<!-- <p>By proceeding, you agree to Grozeo's Privacy Policy and Terms af Service apply.</p> -->
						</div>



					</div> <!--loginformsec-->
				</div>
			</div>

		</div><!--modal-content-->
	</div><!--modal-dialog-->
</div><!--modal-->
<!-- Login Modal Popup end-->
<script>
    $(document).ready(function () {
        $('#login-modal').on('hidden.bs.modal', function (e) {
            $('.mobile-control').removeClass('hide')
            $('#newacount_emailid_field').removeClass('hide')
            $('.otp-control').addClass('hide')
            $('.enterpassword_control').addClass('hide')
            $('.emaillogin_sec').addClass('hide')
            $('#phone-acc-create').addClass('hide')
            $('.create_account').addClass('hide')
            $('#mobileLogin').addClass('hide')
            $('#emailLogin-btn').removeClass('hide')
            $('.emaillogin-ip').removeClass('hide')
            $('.sociallogin').removeClass('hide')
        });

        $('#login-modal').on('hidden.bs.modal', function (e) {
            var inputElements = document.querySelectorAll('input');
            inputElements.forEach(function (inputElement) {
                if (inputElement.id) {
                    clearInputValue('#' + inputElement.id);
                }
            });
        });

        function clearInputValue(inputElement) {
            $(inputElement).val('');
        }
      
    });

   

</script>
<script>
	const NUM_INPUTS = 4; // Change this to scale the number of OTP boxes
	const otpContainer = document.getElementById("otpContainer");
	const hiddenOtpInput = document.getElementById("txtLoginOTP");

	function createOtpInputs(count) {
		otpContainer.innerHTML = "";

		for (let i = 0; i < count; i++) {
			const input = document.createElement("input");
			input.setAttribute("type", "number");
			input.setAttribute("maxlength", "1");
			input.setAttribute("id", "dynamic-otp" + i);
			input.classList.add("otp-input");

			// Input handling
			input.addEventListener("input", (e) => {
				const value = e.target.value.replace(/\D/g, ''); // Allow digits only
				if (value.length > 1) {
					handlePaste(value, i);
					return;
				}
				e.target.value = value;

				if (value && i < count - 1) otpContainer.children[i + 1].focus();
				updateHiddenField();
			});

			// Key navigation
			input.addEventListener("keydown", (e) => {
				if (e.key === "Backspace") {
					if (!e.target.value && i > 0) {
						otpContainer.children[i - 1].focus();
					}
				} else if (e.key === "ArrowLeft" && i > 0) {
					otpContainer.children[i - 1].focus();
				} else if (e.key === "ArrowRight" && i < count - 1) {
					otpContainer.children[i + 1].focus();
				}
			});

			// Paste handling
			input.addEventListener("paste", (e) => {
				e.preventDefault();
				const paste = e.clipboardData.getData("text").replace(/\D/g, '');
				handlePaste(paste, i);
			});

			otpContainer.appendChild(input);
		}

		otpContainer.children[0].focus();
		updateHiddenField();
	}

	function handlePaste(paste, startIndex) {
		const chars = paste.split("");
		for (let j = 0; j < chars.length && (startIndex + j) < NUM_INPUTS; j++) {
			const input = otpContainer.children[startIndex + j];
			input.value = chars[j];
		}

		const nextIndex = Math.min(startIndex + chars.length, NUM_INPUTS - 1);
		otpContainer.children[nextIndex].focus();

		updateHiddenField();
	}

	function updateHiddenField() {
		const otpValues = Array.from(otpContainer.querySelectorAll(".otp-input"))
			.map(input => input.value)
			.join('');
		if (hiddenOtpInput) {
			hiddenOtpInput.value = otpValues;
		}
	}

	createOtpInputs(NUM_INPUTS);

</script>
